.env
.vscode/
docs/.vuepress/dist
docs/.vuepress/public/oembed.json
docs/.vitepress/cache
docs/.vitepress/dist
docs/ts-api
docs/api
coverage/
.nyc_output/
dist/
node_modules/
*.tgz
*.zip
tests/**/*.ts
!tests/**/*.test.ts
!tests/structures/*.ts
/swagger.json