.vscode/
docs/.vuepress/dist
docs/.vuepress/public/openapi.yaml
docs/.vuepress/public/oembed.json
docs/ts-api
coverage/
.nyc_output/
dist/
node_modules/
*.tgz
tests/**/*.ts
!tests/**/*.test.ts
!tests/structures/*.ts