openapi: 3.0.1
info:
  title: Hypixel Public API
  description: >
    ## Query Limitations

    The API server has a request limit of 120 queries per minute. Any abuse of
    the API or intentions to bypass this limit (such as with multiple API keys)
    will lead to your API key being reset or banned.


    If you require a higher limit than the above you can open a support ticket
    at [https://support.hypixel.net](https://support.hypixel.net) and provide
    your use case and why you require a higher limit.

    ## Obtaining an API Key

    You can obtain an API key by joining `mc.hypixel.net` with a valid Minecraft
    account and running the /api command. You will then be assigned a unique key
    that is to remain **private**.
  version: unknown
externalDocs:
  description: GitHub Documentation
  url: 'https://github.com/HypixelDev/PublicAPI/tree/master/Documentation'
servers:
  - url: 'https://api.hypixel.net'
security:
  - apiKey: []
tags:
  - name: skyblock
    description: Methods related to the SkyBlock game mode.
    externalDocs:
      url: https://github.com/HypixelDev/PublicAPI/tree/master/Documentation/methods/skyblock
paths:
  /boosters:
    get:
      tags:
        - metadata
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/boosters.md
      summary: Returns list of boosters.
      description: |
        #### Usage
        ```typescript
        const boosters = await client.boosters();
        ```
      responses:
        '200':
          description: An object describing the current boosters.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      boosters:
                        type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            purchaserUuid:
                              type: string
                            amount:
                              type: number
                            originalLength:
                              type: number
                            length:
                              type: number
                            gameType:
                              type: number
                            stacked:
                              anyOf:
                                - type: boolean
                                - type: array
                                  items:
                                    type: string
                            dateActivated:
                              type: number
                          required:
                            - _id
                            - purchaserUuid
                            - amount
                            - originalLength
                            - length
                            - gameType
                            - dateActivated
                      boosterState:
                        type: object
                        properties:
                          decrementing:
                            type: boolean
                        required:
                          - decrementing
                    example:
                      boosters:
                        - _id: 5c197fadc8f245280926413d
                          purchaserUuid: 978ddb705a8e43618e41749178c020b0
                          amount: 2
                          originalLength: 3600
                          length: 3595
                          gameType: 24
                          stacked: true
                          dateActivated: 1545244519133
                        - _id: 5e8c92270cf287986cd00dbf
                          purchaserUuid: dfe1bb0a4220421486506ba487cdb530
                          amount: 3
                          originalLength: 3600
                          length: 3600
                          gameType: 23
                          dateActivated: 1586351429371
                          stacked: true
                        - _id: 5fa1dc680cf24688841100c6
                          purchaserUuid: e1b2397ee9ef4809a312fc3ee2d4bdbd
                          amount: 3
                          originalLength: 3600
                          length: 3393
                          gameType: 20
                          dateActivated: 1604443410659
                          stacked:
                            - bf9afb33-c4ab-4eee-afa7-108403ba6532
                            - ef0e153b-d489-435d-b5f7-0e712c1a6bf9
                            - 99e62635-bf44-4ca4-8fc4-380b1803bf57
                            - c3eeac1a-83df-4005-acc6-84eb940cbb53
                        - _id: 5fa1e1180cf2468884110118
                          purchaserUuid: 7c90efd8d3724dfe9c4b5d7ff23b8691
                          amount: 2
                          originalLength: 3600
                          length: 3600
                          gameType: 20
                          dateActivated: 1604444496616
                      boosterState:
                        decrementing: true
                    required:
                      - boosters
                      - boosterState
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /findGuild:
    get:
      tags:
        - guild
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/findGuild.md
      summary: Returns the id of the requested guild.
      description: |
        #### Usage
        ```typescript
        let { guild } = await client.findGuild.byName("Mini Squid");
        console.log(guild);
        // 553490650cf26f12ae5bac8f
        { guild } = await client.findGuild.byUuid("20934ef9488c465180a78f861586b4cf");
        console.log(guild);
        // 553490650cf26f12ae5bac8f
        ```
      parameters:
        - $ref: '#/components/parameters/byUuid'
        - $ref: '#/components/parameters/byGuildName'
      responses:
        '200':
          description: An object containing the guild ID if found, otherwise if not found the guild property will be null.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      guild:
                        type: string
                        nullable: true
                        example: 5985b1930cf28d110c2dac07
                    required:
                      - guild
        '400':
          description: Missing one or more fields [byName,byUuid]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                success: false
                cause: 'Missing one or more fields [byName,byUuid]'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/MalformedUUID'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /friends:
    get:
      tags:
        - player
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/friends.md
      summary: Returns friendships for given player.
      description: |
        #### Usage
        ```typescript
        const friends = await client.friends.uuid("20934ef9488c465180a78f861586b4cf");
        ```
      parameters:
        - $ref: '#/components/parameters/PlayerUuid'
      responses:
        '200':
          description: An array containing a list of objects describing the player's friends.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      records:
                        type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            uuidSender:
                              type: string
                            uuidReceiver:
                              type: string
                            started:
                              type: number
                          required:
                            - _id
                            - uuidSender
                            - uuidReceiver
                            - started
                    example:
                      records:
                        - _id: 5eb97d170cf22f431e8d6170
                          uuidSender: 20934ef9488c465180a78f861586b4cf
                          uuidReceiver: 7486aa03aca5470e888dde8a43eb8c10
                          started: 1589214487454
                        - _id: 5eb97d180cf22f431e8d6171
                          uuidSender: 20934ef9488c465180a78f861586b4cf
                          uuidReceiver: 9926753a434e4b46a07625993a07b8ef
                          started: 1589214488015
                        - _id: 5eb97d180cf22f431e8d6172
                          uuidSender: 20934ef9488c465180a78f861586b4cf
                          uuidReceiver: b1f3957b2a1148298b55a9143548bbaa
                          started: 1589214488334
                        - _id: 5eb97d180cf22f431e8d6173
                          uuidSender: 20934ef9488c465180a78f861586b4cf
                          uuidReceiver: 4f9fceb6b17144058c6ef9ba4cfe3805
                          started: 1589214488791
                    required:
                      - records
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/MalformedUUID'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /gameCounts:
    get:
      tags:
        - metadata
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/gameCounts.md
      summary: Returns the current player count along with the player count of each public game + mode on the server.
      description: |
        #### Usage
        ```typescript
        const gameCounts = await client.gameCounts();
        ```
      responses:
        '200':
          description: An object describing the current player count and game counts on the Hypixel network.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      playerCount:
                        type: integer
                        example: 77238
                        description: Total players on the network
                      games:
                        type: object
                        properties:
                          MAIN_LOBBY:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                          TOURNAMENT_LOBBY:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                          UHC:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  TEAMS:
                                    type: integer
                                  SOLO:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - TEAMS
                                  - SOLO
                            required:
                              - players
                              - modes
                          SUPER_SMASH:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  1v1_normal:
                                    type: integer
                                  friends_normal:
                                    type: integer
                                  solo_normal:
                                    type: integer
                                  2v2_normal:
                                    type: integer
                                  teams_normal:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - 1v1_normal
                                  - friends_normal
                                  - solo_normal
                                  - 2v2_normal
                                  - teams_normal
                            required:
                              - players
                              - modes
                          LEGACY:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  QUAKECRAFT:
                                    type: integer
                                  WALLS:
                                    type: integer
                                  VAMPIREZ:
                                    type: integer
                                  ARENA:
                                    type: integer
                                  PAINTBALL:
                                    type: integer
                                  GINGERBREAD:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - QUAKECRAFT
                                  - WALLS
                                  - VAMPIREZ
                                  - ARENA
                                  - PAINTBALL
                                  - GINGERBREAD
                            required:
                              - players
                              - modes
                          BUILD_BATTLE:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  BUILD_BATTLE_SOLO_NORMAL_LATEST:
                                    type: integer
                                  BUILD_BATTLE_GUESS_THE_BUILD:
                                    type: integer
                                  BUILD_BATTLE_TEAMS_NORMAL:
                                    type: integer
                                  BUILD_BATTLE_SOLO_NORMAL:
                                    type: integer
                                  BUILD_BATTLE_SOLO_PRO:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - BUILD_BATTLE_SOLO_NORMAL_LATEST
                                  - BUILD_BATTLE_GUESS_THE_BUILD
                                  - BUILD_BATTLE_TEAMS_NORMAL
                                  - BUILD_BATTLE_SOLO_NORMAL
                                  - BUILD_BATTLE_SOLO_PRO
                            required:
                              - players
                              - modes
                          BATTLEGROUND:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  ctf_mini:
                                    type: integer
                                  domination:
                                    type: integer
                                  team_deathmatch:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - ctf_mini
                                  - domination
                                  - team_deathmatch
                            required:
                              - players
                              - modes
                          WALLS3:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  standard:
                                    type: integer
                                  face_off:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - standard
                                  - face_off
                            required:
                              - players
                              - modes
                          HOUSING:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                          SPEED_UHC:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  team_normal:
                                    type: integer
                                  solo_normal:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - team_normal
                                  - solo_normal
                            required:
                              - players
                              - modes
                          DUELS:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  DUELS_BOWSPLEEF_DUEL:
                                    type: integer
                                  DUELS_BRIDGE_2V2V2V2:
                                    type: integer
                                  DUELS_BOW_DUEL:
                                    type: integer
                                  DUELS_UHC_FOUR:
                                    type: integer
                                  DUELS_MW_DUEL:
                                    type: integer
                                  DUELS_UHC_MEETUP:
                                    type: integer
                                  DUELS_BRIDGE_DOUBLES:
                                    type: integer
                                  DUELS_SW_DOUBLES:
                                    type: integer
                                  DUELS_UHC_DOUBLES:
                                    type: integer
                                  DUELS_BRIDGE_FOUR:
                                    type: integer
                                  DUELS_BRIDGE_3V3V3V3:
                                    type: integer
                                  DUELS_SUMO_DUEL:
                                    type: integer
                                  DUELS_UHC_DUEL:
                                    type: integer
                                  DUELS_OP_DOUBLES:
                                    type: integer
                                  DUELS_OP_DUEL:
                                    type: integer
                                  DUELS_MW_DOUBLES:
                                    type: integer
                                  DUELS_BLITZ_DUEL:
                                    type: integer
                                  DUELS_POTION_DUEL:
                                    type: integer
                                  DUELS_CLASSIC_DUEL:
                                    type: integer
                                  DUELS_COMBO_DUEL:
                                    type: integer
                                  DUELS_BRIDGE_DUEL:
                                    type: integer
                                  DUELS_SW_DUEL:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - DUELS_BOWSPLEEF_DUEL
                                  - DUELS_BRIDGE_2V2V2V2
                                  - DUELS_BOW_DUEL
                                  - DUELS_UHC_FOUR
                                  - DUELS_MW_DUEL
                                  - DUELS_UHC_MEETUP
                                  - DUELS_BRIDGE_DOUBLES
                                  - DUELS_SW_DOUBLES
                                  - DUELS_UHC_DOUBLES
                                  - DUELS_BRIDGE_FOUR
                                  - DUELS_BRIDGE_3V3V3V3
                                  - DUELS_SUMO_DUEL
                                  - DUELS_UHC_DUEL
                                  - DUELS_OP_DOUBLES
                                  - DUELS_OP_DUEL
                                  - DUELS_MW_DOUBLES
                                  - DUELS_BLITZ_DUEL
                                  - DUELS_POTION_DUEL
                                  - DUELS_CLASSIC_DUEL
                                  - DUELS_COMBO_DUEL
                                  - DUELS_BRIDGE_DUEL
                                  - DUELS_SW_DUEL
                            required:
                              - players
                              - modes
                          REPLAY:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  BASE:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - BASE
                            required:
                              - players
                              - modes
                          SURVIVAL_GAMES:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  solo_normal:
                                    type: integer
                                  teams_normal:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - solo_normal
                                  - teams_normal
                            required:
                              - players
                              - modes
                          PROTOTYPE:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  TOWERWARS_SOLO:
                                    type: integer
                                  TOWERWARS_TEAM_OF_TWO:
                                    type: integer
                                required:
                                  - TOWERWARS_SOLO
                                  - TOWERWARS_TEAM_OF_TWO
                            required:
                              - players
                              - modes
                          MURDER_MYSTERY:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  MURDER_DOUBLE_UP:
                                    type: integer
                                  MURDER_INFECTION:
                                    type: integer
                                  MURDER_ASSASSINS:
                                    type: integer
                                  MURDER_CLASSIC:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - MURDER_DOUBLE_UP
                                  - MURDER_INFECTION
                                  - MURDER_ASSASSINS
                                  - MURDER_CLASSIC
                            required:
                              - players
                              - modes
                          MCGO:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  normal:
                                    type: integer
                                  normal_party:
                                    type: integer
                                  deathmatch:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - normal
                                  - normal_party
                                  - deathmatch
                            required:
                              - players
                              - modes
                          BEDWARS:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  BEDWARS_TWO_FOUR:
                                    type: integer
                                  BEDWARS_FOUR_THREE:
                                    type: integer
                                  BEDWARS_FOUR_FOUR_RUSH:
                                    type: integer
                                  BEDWARS_FOUR_FOUR_LUCKY:
                                    type: integer
                                  BEDWARS_EIGHT_ONE:
                                    type: integer
                                  BEDWARS_EIGHT_TWO_VOIDLESS:
                                    type: integer
                                  BEDWARS_EIGHT_TWO_RUSH:
                                    type: integer
                                  BEDWARS_FOUR_FOUR_ARMED:
                                    type: integer
                                  BEDWARS_EIGHT_TWO_ARMED:
                                    type: integer
                                  BEDWARS_FOUR_FOUR:
                                    type: integer
                                  BEDWARS_EIGHT_TWO:
                                    type: integer
                                  BEDWARS_EIGHT_TWO_LUCKY:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - BEDWARS_TWO_FOUR
                                  - BEDWARS_FOUR_THREE
                                  - BEDWARS_FOUR_FOUR_RUSH
                                  - BEDWARS_FOUR_FOUR_LUCKY
                                  - BEDWARS_EIGHT_ONE
                                  - BEDWARS_EIGHT_TWO_VOIDLESS
                                  - BEDWARS_EIGHT_TWO_RUSH
                                  - BEDWARS_FOUR_FOUR_ARMED
                                  - BEDWARS_EIGHT_TWO_ARMED
                                  - BEDWARS_FOUR_FOUR
                                  - BEDWARS_EIGHT_TWO
                                  - BEDWARS_EIGHT_TWO_LUCKY
                            required:
                              - players
                              - modes
                          SKYBLOCK:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  combat_1:
                                    type: integer
                                  dungeon_hub:
                                    type: integer
                                  foraging_1:
                                    type: integer
                                  hub:
                                    type: integer
                                  mining_2:
                                    type: integer
                                  dungeon:
                                    type: integer
                                  combat_2:
                                    type: integer
                                  farming_2:
                                    type: integer
                                  mining_1:
                                    type: integer
                                  farming_1:
                                    type: integer
                                  combat_3:
                                    type: integer
                                  dynamic:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - combat_1
                                  - dungeon_hub
                                  - foraging_1
                                  - hub
                                  - mining_2
                                  - dungeon
                                  - combat_2
                                  - farming_2
                                  - mining_1
                                  - farming_1
                                  - combat_3
                                  - dynamic
                            required:
                              - players
                              - modes
                          ARCADE:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  PARTY:
                                    type: integer
                                  HOLE_IN_THE_WALL:
                                    type: integer
                                  DEFENDER:
                                    type: integer
                                  MINI_WALLS:
                                    type: integer
                                  SIMON_SAYS:
                                    type: integer
                                  ZOMBIES_BAD_BLOOD:
                                    type: integer
                                  HIDE_AND_SEEK_PARTY_POOPER:
                                    type: integer
                                  DAYONE:
                                    type: integer
                                  DRAW_THEIR_THING:
                                    type: integer
                                  ZOMBIES_ALIEN_ARCADIUM:
                                    type: integer
                                  ONEINTHEQUIVER:
                                    type: integer
                                  SOCCER:
                                    type: integer
                                  PVP_CTW:
                                    type: integer
                                  THROW_OUT:
                                    type: integer
                                  ENDER:
                                    type: integer
                                  STARWARS:
                                    type: integer
                                  HALLOWEEN_SIMULATOR:
                                    type: integer
                                  DRAGONWARS2:
                                    type: integer
                                  ZOMBIES_DEAD_END:
                                    type: integer
                                  HIDE_AND_SEEK_PROP_HUNT:
                                    type: integer
                                  FARM_HUNT:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - PARTY
                                  - HOLE_IN_THE_WALL
                                  - DEFENDER
                                  - MINI_WALLS
                                  - SIMON_SAYS
                                  - ZOMBIES_BAD_BLOOD
                                  - HIDE_AND_SEEK_PARTY_POOPER
                                  - DAYONE
                                  - DRAW_THEIR_THING
                                  - ZOMBIES_ALIEN_ARCADIUM
                                  - ONEINTHEQUIVER
                                  - SOCCER
                                  - PVP_CTW
                                  - THROW_OUT
                                  - ENDER
                                  - STARWARS
                                  - HALLOWEEN_SIMULATOR
                                  - DRAGONWARS2
                                  - ZOMBIES_DEAD_END
                                  - HIDE_AND_SEEK_PROP_HUNT
                                  - FARM_HUNT
                            required:
                              - players
                              - modes
                          PIT:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  PIT:
                                    type: integer
                                required:
                                  - PIT
                            required:
                              - players
                              - modes
                          TNTGAMES:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  PVPRUN:
                                    type: integer
                                  TNTAG:
                                    type: integer
                                  TNTRUN:
                                    type: integer
                                  BOWSPLEEF:
                                    type: integer
                                  CAPTURE:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - PVPRUN
                                  - TNTAG
                                  - TNTRUN
                                  - BOWSPLEEF
                                  - CAPTURE
                            required:
                              - players
                              - modes
                          SKYWARS:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  solo_insane_lucky:
                                    type: integer
                                  solo_insane_slime:
                                    type: integer
                                  teams_insane_lucky:
                                    type: integer
                                  solo_normal:
                                    type: integer
                                  teams_insane:
                                    type: integer
                                  solo_insane_hunters_vs_beasts:
                                    type: integer
                                  ranked_normal:
                                    type: integer
                                  solo_insane_tnt_madness:
                                    type: integer
                                  mega_doubles:
                                    type: integer
                                  solo_insane:
                                    type: integer
                                  teams_insane_tnt_madness:
                                    type: integer
                                  teams_normal:
                                    type: integer
                                  mega_normal:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - solo_insane_lucky
                                  - solo_insane_slime
                                  - teams_insane_lucky
                                  - solo_normal
                                  - teams_insane
                                  - solo_insane_hunters_vs_beasts
                                  - ranked_normal
                                  - solo_insane_tnt_madness
                                  - mega_doubles
                                  - solo_insane
                                  - teams_insane_tnt_madness
                                  - teams_normal
                                  - mega_normal
                            required:
                              - players
                              - modes
                          LIMBO:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                          IDLE:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                          QUEUE:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                        example:
                          MAIN_LOBBY:
                            players: 400
                          TOURNAMENT_LOBBY:
                            players: 7
                          UHC:
                            players: 796
                            modes:
                              TEAMS: 399
                              SOLO: 331
                          SUPER_SMASH:
                            players: 91
                            modes:
                              1v1_normal: 7
                              friends_normal: 4
                              solo_normal: 11
                              2v2_normal: 32
                              teams_normal: 8
                          LEGACY:
                            players: 308
                            modes:
                              QUAKECRAFT: 18
                              WALLS: 83
                              VAMPIREZ: 95
                              ARENA: 8
                              PAINTBALL: 37
                              GINGERBREAD: 19
                          BUILD_BATTLE:
                            players: 1329
                            modes:
                              BUILD_BATTLE_HALLOWEEN: 32
                              BUILD_BATTLE_SOLO_NORMAL_LATEST: 256
                              BUILD_BATTLE_GUESS_THE_BUILD: 150
                              BUILD_BATTLE_TEAMS_NORMAL: 478
                              BUILD_BATTLE_SOLO_NORMAL: 171
                              BUILD_BATTLE_SOLO_PRO: 81
                          BATTLEGROUND:
                            players: 80
                            modes:
                              ctf_mini: 60
                              domination: 1
                              team_deathmatch: 5
                          WALLS3:
                            players: 290
                            modes:
                              standard: 261
                              face_off: 5
                          HOUSING:
                            players: 3511
                          SPEED_UHC:
                            players: 43
                            modes:
                              team_normal: 18
                              solo_normal: 25
                          DUELS:
                            players: 5745
                            modes:
                              DUELS_BOWSPLEEF_DUEL: 61
                              DUELS_BRIDGE_2V2V2V2: 12
                              DUELS_BOW_DUEL: 40
                              DUELS_UHC_FOUR: 91
                              DUELS_MW_DUEL: 44
                              DUELS_UHC_MEETUP: 78
                              DUELS_BRIDGE_DOUBLES: 287
                              DUELS_SW_DOUBLES: 224
                              DUELS_UHC_DOUBLES: 114
                              DUELS_BRIDGE_FOUR: 94
                              DUELS_BRIDGE_3V3V3V3: 39
                              DUELS_SUMO_DUEL: 184
                              DUELS_UHC_DUEL: 583
                              DUELS_OP_DOUBLES: 48
                              DUELS_OP_DUEL: 132
                              DUELS_MW_DOUBLES: 4
                              DUELS_BLITZ_DUEL: 118
                              DUELS_POTION_DUEL: 26
                              DUELS_CLASSIC_DUEL: 430
                              DUELS_COMBO_DUEL: 48
                              DUELS_BRIDGE_DUEL: 1443
                              DUELS_SW_DUEL: 616
                          REPLAY:
                            players: 18
                            modes:
                              BASE: 18
                          SURVIVAL_GAMES:
                            players: 390
                            modes:
                              solo_normal: 171
                              teams_normal: 154
                          PROTOTYPE:
                            players: 527
                            modes:
                              TOWERWARS_SOLO: 33
                              TOWERWARS_TEAM_OF_TWO: 33
                          MURDER_MYSTERY:
                            players: 1416
                            modes:
                              MURDER_DOUBLE_UP: 360
                              MURDER_INFECTION: 120
                              MURDER_ASSASSINS: 129
                              MURDER_CLASSIC: 627
                          MCGO:
                            players: 147
                            modes:
                              normal: 84
                              normal_party: 8
                              deathmatch: 35
                          BEDWARS:
                            players: 23917
                            modes:
                              BEDWARS_TWO_FOUR: 788
                              BEDWARS_FOUR_THREE: 4052
                              BEDWARS_FOUR_FOUR_RUSH: 3
                              BEDWARS_FOUR_FOUR_LUCKY: 18
                              BEDWARS_EIGHT_ONE: 2525
                              BEDWARS_EIGHT_TWO_VOIDLESS: 7
                              BEDWARS_EIGHT_TWO_RUSH: 10
                              BEDWARS_FOUR_FOUR_ARMED: 858
                              BEDWARS_EIGHT_TWO_ARMED: 642
                              BEDWARS_FOUR_FOUR: 5090
                              BEDWARS_EIGHT_TWO: 6784
                              BEDWARS_EIGHT_TWO_LUCKY: 35
                          SKYBLOCK:
                            players: 33850
                            modes:
                              combat_1: 533
                              dungeon_hub: 1022
                              foraging_1: 794
                              hub: 9291
                              mining_2: 1111
                              dungeon: 2823
                              combat_2: 383
                              farming_2: 186
                              mining_1: 351
                              farming_1: 169
                              combat_3: 1641
                              dynamic: 15547
                          ARCADE:
                            players: 2665
                            modes:
                              PARTY: 583
                              HOLE_IN_THE_WALL: 20
                              DEFENDER: 44
                              MINI_WALLS: 121
                              SIMON_SAYS: 78
                              ZOMBIES_BAD_BLOOD: 23
                              HIDE_AND_SEEK_PARTY_POOPER: 48
                              DAYONE: 133
                              DRAW_THEIR_THING: 54
                              ZOMBIES_ALIEN_ARCADIUM: 117
                              ONEINTHEQUIVER: 49
                              SOCCER: 37
                              PVP_CTW: 380
                              THROW_OUT: 14
                              ENDER: 25
                              STARWARS: 51
                              HALLOWEEN_SIMULATOR: 92
                              DRAGONWARS2: 20
                              ZOMBIES_DEAD_END: 244
                              HIDE_AND_SEEK_PROP_HUNT: 86
                              FARM_HUNT: 93
                          PIT:
                            players: 974
                            modes:
                              PIT: 974
                          TNTGAMES:
                            players: 948
                            modes:
                              PVPRUN: 26
                              TNTAG: 467
                              TNTRUN: 246
                              BOWSPLEEF: 64
                              CAPTURE: 39
                          SKYWARS:
                            players: 6287
                            modes:
                              solo_insane_lucky: 233
                              solo_insane_slime: 10
                              teams_insane_lucky: 160
                              solo_normal: 1416
                              teams_insane: 607
                              solo_insane_hunters_vs_beasts: 2
                              ranked_normal: 264
                              solo_insane_tnt_madness: 87
                              mega_doubles: 8
                              solo_insane: 1810
                              teams_insane_tnt_madness: 3
                              teams_normal: 631
                              mega_normal: 89
                          LIMBO:
                            players: 153
                          IDLE:
                            players: 8475
                          QUEUE:
                            players: 0
                        additionalProperties:
                          type: object
                          properties:
                            players:
                              type: integer
                            modes:
                              type: object
                              additionalProperties:
                                type: integer
                          required:
                            - players  
                        required:
                          - MAIN_LOBBY
                          - TOURNAMENT_LOBBY
                          - UHC
                          - SUPER_SMASH
                          - LEGACY
                          - BUILD_BATTLE
                          - BATTLEGROUND
                          - WALLS3
                          - HOUSING
                          - SPEED_UHC
                          - DUELS
                          - REPLAY
                          - SURVIVAL_GAMES
                          - PROTOTYPE
                          - MURDER_MYSTERY
                          - MCGO
                          - BEDWARS
                          - SKYBLOCK
                          - ARCADE
                          - PIT
                          - TNTGAMES
                          - SKYWARS
                          - LIMBO
                          - IDLE
                          - QUEUE
                required:
                  - playerCount
                  - games
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /guild:
    get:
      tags:
        - guild
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/guild.md
      summary: Returns information about given guild.
      description: |
        See [resources.md](https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/resources.md) for a JSON list of guild achievements and a JSON list of guild permissions.
        #### Usage
        ```typescript
        const guild = await client.guild.player("20934ef9488c465180a78f861586b4cf");
        ```
      parameters:
        - name: id
          required: false
          description: Hypixel guild ID.
          in: query
          schema:
            type: string
            example: 553490650cf26f12ae5bac8f
        - name: player
          required: false
          description: Minecraft UUID of the player you want to find the guild of.
          in: query
          schema:
            type: string
            example: 20934ef9488c465180a78f861586b4cf
        - name: name
          required: false
          description: Name of the Hypixel guild.
          in: query
          schema:
            type: string
            example: Mini Squid
      responses:
        '200':
          description: An array containing a list of objects describing the player's friends.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      guild:
                        type: object
                        nullable: true
                        properties:
                          _id:
                            type: string
                          name:
                            type: string
                          coins:
                            type: number
                          coinsEver:
                            type: number
                          created:
                            type: number
                          members:
                            type: array
                            items:
                              type: object
                              properties:
                                uuid:
                                  type: string
                                rank:
                                  type: string
                                joined:
                                  type: number
                                questParticipation:
                                  type: number
                                expHistory:
                                  type: object
                                  additionalProperties:
                                    type: number
                                mutedTill:
                                  type: number
                              required:
                                - uuid
                                - rank
                                - joined
                                - expHistory
                          tag:
                            type: string
                          banner:
                            type: object
                            properties:
                              Base:
                                anyOf:
                                  - type: number
                                  - type: string
                              Patterns:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    Pattern:
                                      type: string
                                    Color:
                                      anyOf:
                                        - type: number
                                        - type: string
                                  required:
                                    - Pattern
                                    - Color
                            required:
                              - Base
                              - Patterns
                          achievements:
                            type: object
                            properties:
                              WINNERS:
                                type: number
                              EXPERIENCE_KINGS:
                                type: number
                              ONLINE_PLAYERS:
                                type: number
                            required:
                              - WINNERS
                              - EXPERIENCE_KINGS
                              - ONLINE_PLAYERS
                          exp:
                            type: number
                          legacyRanking:
                            type: number
                          ranks:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                default:
                                  type: boolean
                                tag:
                                  type: string
                                  nullable: true
                                created:
                                  type: number
                                priority:
                                  type: number
                              required:
                                - name
                                - default
                                - tag
                                - created
                                - priority
                          name_lower:
                            type: string
                          chatMute:
                            type: number
                          preferredGames:
                            type: array
                            items:
                              type: string
                          publiclyListed:
                            type: boolean
                          tagColor:
                            type: string
                          guildExpByGameType:
                            type: object
                            properties:
                              DUELS:
                                type: number
                              BUILD_BATTLE:
                                type: number
                              HOUSING:
                                type: number
                              GINGERBREAD:
                                type: number
                              SURVIVAL_GAMES:
                                type: number
                              WALLS:
                                type: number
                              TNTGAMES:
                                type: number
                              QUAKECRAFT:
                                type: number
                              MCGO:
                                type: number
                              ARENA:
                                type: number
                              VAMPIREZ:
                                type: number
                              BEDWARS:
                                type: number
                              SKYWARS:
                                type: number
                              MURDER_MYSTERY:
                                type: number
                              SUPER_SMASH:
                                type: number
                              SPEED_UHC:
                                type: number
                              PIT:
                                type: number
                              SKYBLOCK:
                                type: number
                              BATTLEGROUND:
                                type: number
                              UHC:
                                type: number
                              ARCADE:
                                type: number
                              PROTOTYPE:
                                type: number
                              LEGACY:
                                type: number
                              REPLAY:
                                type: number
                              WALLS3:
                                type: number
                              PAINTBALL:
                                type: number
                            required:
                              - DUELS
                              - BUILD_BATTLE
                              - HOUSING
                              - GINGERBREAD
                              - SURVIVAL_GAMES
                              - WALLS
                              - TNTGAMES
                              - QUAKECRAFT
                              - MCGO
                              - ARENA
                              - VAMPIREZ
                              - BEDWARS
                              - SKYWARS
                              - MURDER_MYSTERY
                              - SUPER_SMASH
                              - SPEED_UHC
                              - PIT
                              - SKYBLOCK
                              - BATTLEGROUND
                              - UHC
                              - ARCADE
                              - PROTOTYPE
                              - LEGACY
                              - REPLAY
                              - WALLS3
                              - PAINTBALL
                          joinable:
                            type: boolean
                          description:
                            type: string
                        required:
                          - _id
                          - name
                          - coins
                          - coinsEver
                          - created
                          - members
                          - tag
                          - achievements
                          - exp
                          - ranks
                          - name_lower
                          - publiclyListed
                          - tagColor
                          - guildExpByGameType
                        example:
                          guild:
                            _id: 553490650cf26f12ae5bac8f
                            name: Mini Squid
                            coins: 425310
                            coinsEver: 1835310
                            created: 1429508197967
                            members:
                              - uuid: 20934ef9488c465180a78f861586b4cf
                                rank: GUILDMASTER
                                joined: 1429508197967
                                questParticipation: 139
                                expHistory:
                                  '2020-11-06': 2226
                                  '2020-11-05': 0
                                  '2020-11-04': 4059
                                  '2020-11-03': 0
                                  '2020-11-02': 1102
                                  '2020-11-01': 0
                                  '2020-10-31': 0
                              - uuid: 6a12d6f63e134c8bbebc70d90a797281
                                rank: Famous
                                joined: 1518021755919
                                questParticipation: 325
                                expHistory:
                                  '2020-11-06': 0
                                  '2020-11-05': 0
                                  '2020-11-04': 0
                                  '2020-11-03': 2399
                                  '2020-11-02': 758
                                  '2020-11-01': 4309
                                  '2020-10-31': 740
                              - uuid: a99d9661fe2d4594a6b3d910c85cc4a4
                                rank: MEMBER
                                joined: 1530770040736
                                questParticipation: 800
                                expHistory:
                                  '2020-11-06': 0
                                  '2020-11-05': 0
                                  '2020-11-04': 0
                                  '2020-11-03': 0
                                  '2020-11-02': 0
                                  '2020-11-01': 0
                                  '2020-10-31': 0
                              - uuid: 8a8bcd44c2034281a008ff7a1e0ead2f
                                rank: MEMBER
                                joined: 1532204533230
                                questParticipation: 634
                                expHistory:
                                  '2020-11-06': 0
                                  '2020-11-05': 0
                                  '2020-11-04': 0
                                  '2020-11-03': 0
                                  '2020-11-02': 0
                                  '2020-11-01': 0
                                  '2020-10-31': 0
                            tag: §a1§e2§c3§7
                            banner:
                              Base: 15
                              Patterns:
                                - Pattern: bo
                                  Color: 9
                                - Pattern: bri
                                  Color: 5
                            achievements:
                              WINNERS: 1080
                              EXPERIENCE_KINGS: 316804
                              ONLINE_PLAYERS: 125
                            exp: 274641340
                            legacyRanking: 2891
                            ranks:
                              - name: Famous
                                default: false
                                tag: F
                                created: 1562382958149
                                priority: 3
                              - name: Member
                                default: true
                                tag: null
                                created: 1562383012859
                                priority: 2
                              - name: Big Nerd
                                default: false
                                tag: B
                                created: 1588882422793
                                priority: 7
                              - name: Notorious Nerd
                                default: false
                                tag: NERD
                                created: 1588882818050
                                priority: 5
                            name_lower: mini squid
                            chatMute: 0
                            preferredGames:
                              - SKYWARS
                            publiclyListed: true
                            tagColor: GRAY
                            guildExpByGameType:
                              DUELS: 25270418
                              BUILD_BATTLE: 10772932
                              HOUSING: 22601152
                              GINGERBREAD: 888064
                              SURVIVAL_GAMES: 3504037
                              WALLS: 1472671
                              TNTGAMES: 7419981
                              QUAKECRAFT: 857167
                              MCGO: 1245579
                              ARENA: 300356
                              VAMPIREZ: 1497562
                              BEDWARS: 127334623
                              SKYWARS: 111325349
                              MURDER_MYSTERY: 8704331
                              SUPER_SMASH: 308906
                              SPEED_UHC: 311651
                              PIT: 0
                              SKYBLOCK: 0
                              BATTLEGROUND: 897997
                              UHC: 12670118
                              ARCADE: 10589782
                              PROTOTYPE: 206060467
                              LEGACY: 0
                              REPLAY: 0
                              WALLS3: 3467841
                              PAINTBALL: 429708
                    required:
                      - guild

        '400':
          description: Missing one or more fields [id,name,player]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                success: false
                cause: 'Missing one or more fields [id,name,player]'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Malformed parameter (player UUID or guild ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                uuid:
                  summary: The player UUID supplied is malformed.
                  value:
                    success: false
                    cause: Malformed UUID
                guildId:
                  summary: The guild ID supplied is malformed.
                  value:
                    success: false
                    cause: Malformed guild ID
        '429':
          $ref: '#/components/responses/RateLimitError'
  /key:
    get:
      tags:
        - metadata
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/key.md
      summary: Returns information regarding given key.
      description: |
        #### Usage
        ```typescript
        const key = await client.key();
        ```
      responses:
        '200':
          description: An object describing the API key's information.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      record:
                        type: object
                        properties:
                          key:
                            type: string
                          owner:
                            type: string
                          limit:
                            type: number
                          queriesInPastMin:
                            type: number
                          totalQueries:
                            type: number
                        required:
                          - key
                          - owner
                          - limit
                          - queriesInPastMin
                          - totalQueries
                    example:
                      record:
                        key: 00000000-0000-0000-0000-000000000000
                        owner: 20934ef9-488c-4651-80a7-8f861586b4cf
                        limit: 120
                        queriesInPastMin: 12
                        totalQueries: 1234
                    required:
                      - record
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /leaderboards:
    get:
      tags:
        - metadata
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/leaderboards.md
      summary: Returns a list of the official leaderboards and their current standings for games on the network.
      description: |
        #### Usage
        ```typescript
        const leaderboards = await client.leaderboards();
        ```
      responses:
        '200':
          description: An object describing the current leaderboards on Hypixel's network.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - $ref: '#/components/schemas/LeaderboardsResponse'
              example:
                success: true
                leaderboards:
                  ARENA:
                    - path: arena_rating_b
                      prefix: Overall
                      title: Rating
                      location: -2554,55,715
                      count: 10
                      leaders:
                        - 886ccd9d-d16d-4b8f-bf98-8b00831f9e30
                        - 0c1f10f9-134e-4963-99b6-502270055a10
                        - 1a02b5d6-1e95-468f-bed3-def763a75b0e
                        - 86072b6c-1f4e-4ed7-8b03-b828a47c33d9
                    - path: wins_1v1
                      prefix: Overall
                      title: 1v1 Wins
                      location: -2554,54,715
                      count: 10
                      leaders:
                        - 425fa076-cf95-4174-b3fc-c57943ebddba
                        - 42d17101-d916-4b8a-a70b-93dc6ccbee27
                        - 576749eb-6728-4773-a41b-b418a62f9c01
                        - e5dcd129-69dc-479a-8d32-4fc423d755b9
                  MCGO:
                    - path: kills
                      prefix: Overall
                      title: Kills
                      location: -2550,55,715
                      count: 10
                      leaders:
                        - 7b1bb9c3-188d-4c7b-811b-90da2f670665
                        - c8d0e91a-f6a1-42f4-94ee-c3fe21991435
                        - da30c949-7de4-4131-ad3e-609f5f277eb9
                        - 1266f943-0704-411b-b544-bde93fee8b14
                    - path: normal_wins_2
                      prefix: Monthly
                      title: Defusal Wins
                      location: 0,0,0
                      count: 10
                      leaders:
                        - ff6b7b72-26ff-4e68-bd10-5f0c0d3ad8c7
                        - fa0e925a-9f63-42dd-8edc-8beae92fb065
                        - f9f7cda1-07db-4c53-896d-1857603606b2
                        - 1ea5c6ee-7ae5-4c94-83c0-5306c7b252aa
                    - path: normal_wins_1
                      prefix: Weekly
                      title: Defusal Wins
                      location: 0,0,0
                      count: 10
                      leaders:
                        - ff6b7b72-26ff-4e68-bd10-5f0c0d3ad8c7
                        - fa0e925a-9f63-42dd-8edc-8beae92fb065
                        - f9f7cda1-07db-4c53-896d-1857603606b2
                        - 1ea5c6ee-7ae5-4c94-83c0-5306c7b252aa
                    - path: deathmatch_wins_2
                      prefix: Monthly
                      title: Deathmatch Wins
                      location: 0,0,0
                      count: 10
                      leaders:
                        - d784e3ef-9f7a-43af-8e47-f0fe1d02474c
                        - 9535b4f7-e59e-4ce0-b46d-7c41fe6d72fb
                        - 38d19a8a-e577-43f1-b505-840c30a1e10d
                        - 174856cd-5ffa-4688-9750-19a47594bbcf
                  BATTLEGROUND:
                    - path: wins
                      prefix: Overall
                      title: Wins
                      location: -2554,55,715
                      count: 10
                      leaders:
                        - 8bb6dd7f-b3de-43ec-af7e-1be7975e7bca
                        - 45fdbb18-52d6-4002-807d-240cdafcdab8
                        - a61f48d2-c47f-4810-80ef-a3a6e8bf7cb6
                        - 352ee5f2-caf3-4806-b396-a12f4a7ef8a1
                    - path: wins_domination
                      prefix: Overall
                      title: DOM Wins
                      location: -2554,53,715
                      count: 10
                      leaders:
                        - f494f87c-a628-4506-bbe5-c15379cae4ec
                        - 45fdbb18-52d6-4002-807d-240cdafcdab8
                        - c943524c-9e81-4137-b505-2adb7971c4f5
                        - 5f168163-ced2-4645-b424-1e48de4627a1
                    - path: wins_teamdeathmatch
                      prefix: Overall
                      title: TDM Wins
                      location: -2554,52,715
                      count: 10
                      leaders:
                        - 45fdbb18-52d6-4002-807d-240cdafcdab8
                        - 3d2fb54b-4c70-409e-a2b9-50a5c42eccc7
                        - 73fe74a1-8ae5-475f-a527-cbaf90e394c6
                        - 8bb6dd7f-b3de-43ec-af7e-1be7975e7bca
                    - path: wins_capturetheflag
                      prefix: Overall
                      title: CTF Wins
                      location: -2554,51,715
                      count: 10
                      leaders:
                        - a61f48d2-c47f-4810-80ef-a3a6e8bf7cb6
                        - 8bb6dd7f-b3de-43ec-af7e-1be7975e7bca
                        - 352ee5f2-caf3-4806-b396-a12f4a7ef8a1
                        - 01c4a20e-0a60-466f-bd98-ea71c346e5e4
                  SURVIVAL_GAMES:
                    - path: kills
                      prefix: Overall
                      title: Kills
                      location: -2554,55,715
                      count: 10
                      leaders:
                        - bba8054c-872a-4e24-a74d-858e9b9d0b13
                        - 6c90504a-adb5-4099-9954-c23692703830
                        - 7166de62-b38c-4733-ac33-ab7852b03ed6
                        - fbdbf653-3723-4edd-85ae-2d28b60221f9
                    - path: wins_solo_normal
                      prefix: Overall
                      title: Solo Wins
                      location: -2554,54,715
                      count: 10
                      leaders:
                        - bba8054c-872a-4e24-a74d-858e9b9d0b13
                        - 2e7d0e70-4fe3-4d92-849a-24fcf7f9894e
                        - 6c90504a-adb5-4099-9954-c23692703830
                        - 9daa06c7-ad91-45ff-8cc7-9de088b6d686
                    - path: wins_teams
                      prefix: Overall
                      title: Teams Wins
                      location: -2554,53,715
                      count: 10
                      leaders:
                        - 556cd0de-cd29-4962-9f1c-8b80234e4212
                        - 2a8e54f8-2e68-489a-9ece-6cadfd24b09c
                        - 7166de62-b38c-4733-ac33-ab7852b03ed6
                        - 5b05d1e7-76f4-4eb0-a759-9e4d3131fe85
                  UHC:
                    - path: kills
                      prefix: Overall
                      title: Kills
                      location: -2554,13,715
                      count: 10
                      leaders:
                        - c9a3e421-9dd5-4623-bad5-d2569f546eb8
                        - 1c1419bf-3c22-412a-8e8a-63f3f5546ff4
                        - 692a8229-646c-4a85-99bf-f48d99c1e1f8
                        - 64e31ca7-17d3-4707-a077-873f5cde7632
                    - path: monthly_kills_b
                      prefix: Monthly
                      title: Kills
                      location: -2554,12,715
                      count: 10
                      leaders:
                        - 7040c0c7-5de4-4778-b11d-21dfe72efa0b
                        - 46b3c68a-f795-41bd-9d6c-bfe8e4678521
                        - a336071c-f30d-44a8-aa9c-0e3e681a6678
                        - 09a2e8a4-42d5-4902-b3f4-a656709dc550
                    - path: wins
                      prefix: Overall
                      title: Wins
                      location: -2554,11,715
                      count: 10
                      leaders:
                        - c9a3e421-9dd5-4623-bad5-d2569f546eb8
                        - 0aa4deda-eadd-43db-ae0e-df6649f51e09
                        - 94553984-0a4f-46e2-a138-1966e33d9f7f
                        - c6245d4f-40f8-48be-abe8-c94faf7e0d4c
                    - path: monthly_wins_b
                      prefix: Monthly
                      title: Wins
                      location: -2554,10,715
                      count: 10
                      leaders:
                        - 7040c0c7-5de4-4778-b11d-21dfe72efa0b
                        - a336071c-f30d-44a8-aa9c-0e3e681a6678
                        - 46b3c68a-f795-41bd-9d6c-bfe8e4678521
                        - 09a2e8a4-42d5-4902-b3f4-a656709dc550
                  WALLS:
                    - path: kills
                      prefix: Overall
                      title: Kills
                      location: -2555,42,710
                      count: 10
                      leaders:
                        - 44ad1473-0a2a-4e91-9559-f6f614478156
                        - b900be9d-adcf-4eb0-a953-9b5c490c23b3
                        - d3a45b30-c6f5-4529-9fbe-23e33828354b
                        - a4bc06cb-fb73-4d5e-a2f3-13284c2fb660
                    - path: monthly_kills_b
                      prefix: Monthly
                      title: Kills
                      location: -2555,41,710
                      count: 10
                      leaders:
                        - b900be9d-adcf-4eb0-a953-9b5c490c23b3
                        - 44ad1473-0a2a-4e91-9559-f6f614478156
                        - d3a45b30-c6f5-4529-9fbe-23e33828354b
                        - a4bc06cb-fb73-4d5e-a2f3-13284c2fb660
                    - path: weekly_kills_a
                      prefix: Weekly
                      title: Kills
                      location: -2555,40,710
                      count: 10
                      leaders:
                        - b900be9d-adcf-4eb0-a953-9b5c490c23b3
                        - 44ad1473-0a2a-4e91-9559-f6f614478156
                        - d3a45b30-c6f5-4529-9fbe-23e33828354b
                        - a4bc06cb-fb73-4d5e-a2f3-13284c2fb660
                  PROTOTYPE:
                  PAINTBALL:
                    - path: kills
                      prefix: Overall
                      title: Kills
                      location: -2554,55,715
                      count: 10
                      leaders:
                        - 31ff3435-3b4c-451a-a0a1-4d1185e17f68
                        - 37637353-e6b9-4e3e-94ec-d9bb46e42af3
                        - 7c59cb3c-dcd9-4346-b958-750d3818ddb9
                        - f025c1c7-f55a-4ea0-b8d9-3f47d17dfe0f
                    - path: kills_b
                      prefix: Monthly
                      title: Kills
                      location: -2554,54,715
                      count: 10
                      leaders:
                        - a29972a6-8443-4eef-a176-3084d30142ca
                        - 879114af-ef96-48d4-81fb-dabea482d64e
                        - 6b3053e9-5f40-4ca4-982b-039c8a9729bb
                        - a759fac6-2da5-4473-9150-5b50892314d4
                    - path: kills_a
                      prefix: Weekly
                      title: Kills
                      location: -2554,53,715
                      count: 10
                      leaders:
                        - a29972a6-8443-4eef-a176-3084d30142ca
                        - 879114af-ef96-48d4-81fb-dabea482d64e
                        - 6b3053e9-5f40-4ca4-982b-039c8a9729bb
                        - a759fac6-2da5-4473-9150-5b50892314d4
                  SKYWARS:
                    - path: skywars_rating_b
                      prefix: Overall
                      title: Rating
                      location: -2556,56,712
                      count: 14
                      leaders:
                    - path: wins
                      prefix: Overall
                      title: Wins
                      location: -2556,55,712
                      count: 14
                      leaders:
                        - 2afdb69c-c007-40cd-98b9-76a7554612d9
                        - 6951ccdb-9ca7-4c8a-883b-a8d3bb81c3d2
                        - e61044cc-c42f-439b-9ad7-817c51ae7174
                        - 12056d8b-e2b6-4621-802f-7a581f524b53
                    - path: kills
                      prefix: Overall
                      title: Kills
                      location: -2556,54,712
                      count: 14
                      leaders:
                        - 2afdb69c-c007-40cd-98b9-76a7554612d9
                        - e61044cc-c42f-439b-9ad7-817c51ae7174
                        - 36cef0d3-f213-46dd-ba3d-9ab3e4ecd687
                        - 12056d8b-e2b6-4621-802f-7a581f524b53
                    - path: kills_monthly_2
                      prefix: Monthly
                      title: Kills
                      location: -2556,53,712
                      count: 14
                      leaders:
                        - 20411abf-ecbc-40f1-8897-0be1ab4a0721
                        - 12056d8b-e2b6-4621-802f-7a581f524b53
                        - 5b9a07ae-f213-43cf-994d-939cc638fc5c
                        - d92bd382-7ff7-42c7-8588-ff722ff7d7a0
                  MURDER_MYSTERY:
                    - path: wins
                      prefix: Overall
                      title: Wins
                      location: 0,0,0
                      count: 14
                      leaders:
                        - b3b18e30-da91-45b8-bd10-a767ba5f12e9
                        - fb71c0fc-6dba-4a18-a397-f2cce59f28d7
                        - 4aa79729-0fc2-4cc9-b81e-28cb3a1dc30c
                        - 93862e00-6994-4fa3-885b-17db8f73cc06
                    - path: wins_1
                      prefix: Weekly
                      title: Wins
                      location: 0,0,0
                      count: 14
                      leaders:
                        - f36bdc4f-7dab-462b-87b6-dee2e3af8490
                        - 4aa518cc-6036-4d11-88b2-60aff0bbddf6
                        - fb71c0fc-6dba-4a18-a397-f2cce59f28d7
                        - 7092686b-d914-43cc-a9bb-77bef9dca36d
                    - path: kills
                      prefix: Overall
                      title: Kills
                      location: 0,0,0
                      count: 14
                      leaders:
                        - b3b18e30-da91-45b8-bd10-a767ba5f12e9
                        - f7b61e37-0970-4dab-b57b-24c779894ca9
                        - ea0aae8a-4209-4992-898c-b6fc319c0bfd
                        - e295e12d-e912-4be2-baa7-ab49efd20a63
                    - path: kills_1
                      prefix: Weekly
                      title: Kills
                      location: 0,0,0
                      count: 14
                      leaders:
                        - e957f9c3-19cd-4ef2-9dfd-13862b375b9e
                        - f36bdc4f-7dab-462b-87b6-dee2e3af8490
                        - 329eea92-f5f7-4580-a4b6-8ef98870c525
                        - 4aa518cc-6036-4d11-88b2-60aff0bbddf6
                  SUPER_SMASH:
                    - path: smash_level_total
                      prefix: Overall
                      title: Smash Level
                      location: 814,39,32
                      count: 14
                      leaders:
                        - ed1296e1-54f7-49bd-beea-af405b891f31
                        - bef402f4-1b0e-41d1-beb3-0f39aaa80661
                        - bec9029b-efb3-4c85-925d-f2e97640cf92
                        - be52d218-ec9a-4d99-bce8-a2ed52cdf8c9
                    - path: kills
                      prefix: Overall
                      title: Kills
                      location: 814,38,32
                      count: 14
                      leaders:
                        - 2de27887-dbb9-4154-8a36-029d6de5f468
                        - 48633e98-c618-42b1-a85f-78775ce3f4a8
                        - 22060ff2-8f07-476d-ba5d-37efd4b6b9d3
                        - 176ebb3a-0288-4f91-9b2b-842fee80e33c
                    - path: kills_b
                      prefix: Monthly
                      title: Kills
                      location: 814,37,32
                      count: 14
                      leaders:
                        - 2e1884f6-9c29-4bd5-89e6-d7709b100298
                        - aa365d91-a5ac-4f85-a7fa-b8f4919d5c93
                        - ef23eebb-88ba-4f0f-978f-3161cfde2ba8
                        - d0cdf17b-f8bd-4195-a8ab-c366bd5eb7c3
                    - path: kills_a
                      prefix: Weekly
                      title: Kills
                      location: 814,36,32
                      count: 14
                      leaders:
                        - 2e1884f6-9c29-4bd5-89e6-d7709b100298
                        - aa365d91-a5ac-4f85-a7fa-b8f4919d5c93
                        - ef23eebb-88ba-4f0f-978f-3161cfde2ba8
                        - d0cdf17b-f8bd-4195-a8ab-c366bd5eb7c3
                  DUELS:
                    - path: wins_weekly_a
                      prefix: Weekly
                      title: Wins
                      location: 0,0,0
                      count: 10
                      leaders:
                        - 54d7467e-5acd-48c4-9bf8-2c6f8a492f2f
                        - fcec891c-13c9-4c96-94cf-91d757a50234
                        - 5a690439-5dd6-4d52-8fe9-8f201c73214e
                        - 400f42b6-b7fd-410c-b719-d24b427fbad1
                    - path: wins_monthly_b
                      prefix: Monthly
                      title: Wins
                      location: 0,0,0
                      count: 10
                      leaders:
                        - 54d7467e-5acd-48c4-9bf8-2c6f8a492f2f
                        - fcec891c-13c9-4c96-94cf-91d757a50234
                        - 5a690439-5dd6-4d52-8fe9-8f201c73214e
                        - 400f42b6-b7fd-410c-b719-d24b427fbad1
                  SPEED_UHC:
                    - path: salt
                      prefix: Total
                      title: Salt
                      location: -2551,58,712
                      count: 16
                      leaders:
                        - 3dd44efa-1b57-4c68-ad65-b9601ce791ff
                        - 5409757b-8734-4c03-94b1-0bf966a2d594
                        - 06a87689-a1c9-476c-82d7-127f25769e33
                        - 6d04f5ca-de1f-449c-9d24-c7abd986cc64
                    - path: kills_normal
                      prefix: Normal
                      title: Kills
                      location: -2551,57,712
                      count: 16
                      leaders:
                        - 3dd44efa-1b57-4c68-ad65-b9601ce791ff
                        - b3161a77-90ad-43e6-97fd-a9e298ffb699
                        - 2c8e1e5d-1fbd-466f-b677-0fdd65359cd5
                        - 86de061e-00d2-4588-8c98-016283a78e31
                    - path: wins_normal
                      prefix: Normal
                      title: Wins
                      location: -2551,56,712
                      count: 16
                      leaders:
                        - 3dd44efa-1b57-4c68-ad65-b9601ce791ff
                        - b3161a77-90ad-43e6-97fd-a9e298ffb699
                        - 2c8e1e5d-1fbd-466f-b677-0fdd65359cd5
                        - 86de061e-00d2-4588-8c98-016283a78e31
                    - path: kills_insane
                      prefix: Insane
                      title: Kills
                      location: -2551,55,712
                      count: 16
                      leaders:
                        - 3dd44efa-1b57-4c68-ad65-b9601ce791ff
                        - f5a1122d-9ee6-4b0a-9ddb-e6c66476f103
                        - 6d04f5ca-de1f-449c-9d24-c7abd986cc64
                        - 83f44cd9-ca9d-4712-a6bf-9e618574f0de
                  TNTGAMES:
                    - path: wins_tntrun
                      prefix: Overall
                      title: TNT Run Wins
                      location: -2554,57,715
                      count: 10
                      leaders:
                        - aed8deec-8c35-4187-8a79-ba72ab29076d
                        - b379f448-0f28-4eb8-af7b-a8d1ead7b80f
                        - 141e5144-6940-46ea-a7e5-36ed70cc1595
                        - f9fe4ed4-1242-460d-b7db-d7bfd054e082
                    - path: wins_pvprun
                      prefix: Overall
                      title: PVP Run Wins
                      location: -2554,56,715
                      count: 10
                      leaders:
                        - 9e7d2bdb-3dc6-448f-9bb2-67cb76c422ac
                        - 2acdd559-e426-4028-94fe-7077d64da2a9
                        - 0eb1125c-9f75-4fba-87c2-116f67b7a209
                        - 2ccb704c-71b9-42a6-b7a2-695e6d53711e
                    - path: wins_capture
                      prefix: Overall
                      title: Wizards Wins
                      location: -2554,55,715
                      count: 10
                      leaders:
                        - 3c57402d-3fd9-4ba9-abc0-e239ac13e2ba
                        - 76dda034-88fb-4e59-8e40-126b1a7a140d
                        - 0b1c1870-5cf5-493c-8f91-0f4581054f26
                        - 54199f5f-a4cc-4d6d-bbfd-79d448e6102a
                    - path: wins_tntag
                      prefix: Overall
                      title: TNT Tag Wins
                      location: -2554,54,715
                      count: 10
                      leaders:
                        - 16495069-13bc-4c16-869b-c49965786629
                        - 386c874e-7b1f-4951-8e8c-293fb2cce01b
                        - 6a9ef19c-d011-4811-9ea7-9a540044d589
                        - 4497e0d3-3500-4183-9052-3d52d1d42e51
                  BEDWARS:
                    - path: bedwars_level
                      prefix: Current
                      title: Level
                      location: 0,0,0
                      count: 14
                      leaders:
                        - fe15273a-c660-4a6f-95da-ee3f9458eeba
                        - 383a081f-6dc0-4ac0-bb95-1f8d50c3e532
                        - 317517f7-470d-456a-a6ee-ea037425db33
                        - 4430ab4e-56ef-4eca-987e-cdff56697930
                    - path: wins
                      prefix: Overall
                      title: Wins
                      location: 0,0,0
                      count: 14
                      leaders:
                        - fe15273a-c660-4a6f-95da-ee3f9458eeba
                        - 50c68641-558d-48b0-b36f-f89e94069acf
                        - 383a081f-6dc0-4ac0-bb95-1f8d50c3e532
                        - 9491cd6c-18a6-47e3-aea9-0178447844b0
                    - path: wins_1
                      prefix: Weekly
                      title: Wins
                      location: 0,0,0
                      count: 14
                      leaders:
                        - f54f3af5-572f-41e6-914d-dd941971d129
                        - e6e4990d-fcba-4cb6-8ce2-7a50348560f5
                        - 4975c48c-4e9d-48dd-9580-45549636a10a
                        - e8e3c4f6-9a92-4024-ac84-4306baf9a5ab
                    - path: final_kills
                      prefix: Overall
                      title: Final Kills
                      location: 0,0,0
                      count: 14
                      leaders:
                        - fe15273a-c660-4a6f-95da-ee3f9458eeba
                        - 317517f7-470d-456a-a6ee-ea037425db33
                        - 24c182c6-716b-47c6-8f60-a1be9045c449
                        - 3a5321ea-3360-4353-9f84-fa018c5de50b
                  GINGERBREAD:
                    - path: gold_trophy
                      prefix: Overall
                      title: Gold Trophies
                      location: -114,34,-8
                      count: 10
                      leaders:
                        - cdea3387-7a37-413d-a44e-365acc9f7a50
                        - 617c7e30-149b-408f-b1d4-5d0ada9b8d1a
                        - dd67feb4-219a-47b2-8ff5-89fed5a26b68
                        - 944e11e3-ab42-4b73-b60c-3ff456aa3c5f
                    - path: gold_2
                      prefix: Monthly
                      title: Gold Trophies
                      location: -114,33,-8
                      count: 10
                      leaders:
                        - a15d2ae2-a16a-4415-b9c4-8bf8470f9d49
                        - cdea3387-7a37-413d-a44e-365acc9f7a50
                        - cc3e837e-3885-4361-a99a-85b32942ae00
                        - 6b93a19c-9bf2-4fa7-832b-7e26783366af
                    - path: gold_1
                      prefix: Weekly
                      title: Gold Trophies
                      location: -114,32,-8
                      count: 10
                      leaders:
                        - a15d2ae2-a16a-4415-b9c4-8bf8470f9d49
                        - cdea3387-7a37-413d-a44e-365acc9f7a50
                        - cc3e837e-3885-4361-a99a-85b32942ae00
                        - 6b93a19c-9bf2-4fa7-832b-7e26783366af
                    - path: laps_completed
                      prefix: Overall
                      title: Laps Completed
                      location: -114,31,-8
                      count: 10
                      leaders:
                        - cdea3387-7a37-413d-a44e-365acc9f7a50
                        - 617c7e30-149b-408f-b1d4-5d0ada9b8d1a
                        - dd67feb4-219a-47b2-8ff5-89fed5a26b68
                        - 3863e1c3-3eb3-4215-9e45-a17f16c0fb4c
                  BUILD_BATTLE:
                    - path: score
                      prefix: Lifetime
                      title: Score
                      location: 0,0,0
                      count: 14
                      leaders:
                        - 71842575-8b61-4639-b28f-b12157dabcf5
                        - f9beae65-c0fc-46ee-8691-99589d1e28a3
                        - ce38dc5e-8b53-4b77-88de-cd989bea71f6
                        - 6dbbd744-f8bb-4a59-b783-7d8c29ac48e6
                    - path: coins
                      prefix: Lifetime
                      title: Coins
                      location: 0,0,0
                      count: 14
                      leaders:
                        - f9beae65-c0fc-46ee-8691-99589d1e28a3
                        - 3efd540b-06ae-4141-8616-72f6510c99e8
                        - 7ab7ff47-2e13-4b69-82b7-fcaffe994360
                        - bfcc0ed5-4776-4a93-8ac3-922c8aebc3d2
                    - path: wins
                      prefix: Lifetime
                      title: Wins
                      location: 0,0,0
                      count: 14
                      leaders:
                        - 71842575-8b61-4639-b28f-b12157dabcf5
                        - 6dbbd744-f8bb-4a59-b783-7d8c29ac48e6
                        - d5f8632f-360e-4965-a5e0-c5b6c122c92f
[...]
