openapi: 3.0.1
info:
  title: Hypixel Public API
  description: >
    ## Query Limitations

    The API server has a request limit of 120 queries per minute. Any abuse of
    the API or intentions to bypass this limit (such as with multiple API keys)
    will lead to your API key being reset or banned.


    If you require a higher limit than the above you can open a support ticket
    at [https://support.hypixel.net](https://support.hypixel.net) and provide
    your use case and why you require a higher limit.

    ## Obtaining an API Key

    You can obtain an API key by joining `mc.hypixel.net` with a valid Minecraft
    account and running the /api command. You will then be assigned a unique key
    that is to remain **private**.
  version: unknown
externalDocs:
  description: GitHub Documentation
  url: 'https://github.com/HypixelDev/PublicAPI/tree/master/Documentation'
servers:
  - url: 'https://api.hypixel.net'
security:
  - apiKey: []
tags:
  - name: skyblock
    description: Methods related to the SkyBlock game mode.
    externalDocs:
      url: https://github.com/HypixelDev/PublicAPI/tree/master/Documentation/methods/skyblock
paths:
  /boosters:
    get:
      tags:
        - metadata
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/boosters.md
      summary: Returns list of boosters.
      description: |
        #### Usage
        ```typescript
        const boosters = await client.boosters();
        ```
      responses:
        '200':
          description: An object describing the current boosters.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      boosters:
                        type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            purchaserUuid:
                              type: string
                            amount:
                              type: number
                            originalLength:
                              type: number
                            length:
                              type: number
                            gameType:
                              type: number
                            stacked:
                              oneOf:
                                - type: boolean
                                - type: array
                                  items:
                                    type: string
                            dateActivated:
                              type: number
                          required:
                            - _id
                            - purchaserUuid
                            - amount
                            - originalLength
                            - length
                            - gameType
                            - dateActivated
                      boosterState:
                        type: object
                        properties:
                          decrementing:
                            type: boolean
                        required:
                          - decrementing
                    example:
                      boosters:
                        - _id: 5c197fadc8f245280926413d
                          purchaserUuid: 978ddb705a8e43618e41749178c020b0
                          amount: 2
                          originalLength: 3600
                          length: 3595
                          gameType: 24
                          stacked: true
                          dateActivated: 1545244519133
                        - _id: 5e8c92270cf287986cd00dbf
                          purchaserUuid: dfe1bb0a4220421486506ba487cdb530
                          amount: 3
                          originalLength: 3600
                          length: 3600
                          gameType: 23
                          dateActivated: 1586351429371
                          stacked: true
                        - _id: 5fa1dc680cf24688841100c6
                          purchaserUuid: e1b2397ee9ef4809a312fc3ee2d4bdbd
                          amount: 3
                          originalLength: 3600
                          length: 3393
                          gameType: 20
                          dateActivated: 1604443410659
                          stacked:
                            - bf9afb33-c4ab-4eee-afa7-108403ba6532
                            - ef0e153b-d489-435d-b5f7-0e712c1a6bf9
                            - 99e62635-bf44-4ca4-8fc4-380b1803bf57
                            - c3eeac1a-83df-4005-acc6-84eb940cbb53
                        - _id: 5fa1e1180cf2468884110118
                          purchaserUuid: 7c90efd8d3724dfe9c4b5d7ff23b8691
                          amount: 2
                          originalLength: 3600
                          length: 3600
                          gameType: 20
                          dateActivated: 1604444496616
                      boosterState:
                        decrementing: true
                    required:
                      - boosters
                      - boosterState
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /findGuild:
    get:
      tags:
        - guild
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/findGuild.md
      summary: Returns the id of the requested guild.
      description: |
        #### Usage
        ```typescript
        let { guild } = await client.findGuild.byName("Mini Squid");
        console.log(guild);
        // 553490650cf26f12ae5bac8f
        { guild } = await client.findGuild.byUuid("20934ef9488c465180a78f861586b4cf");
        console.log(guild);
        // 553490650cf26f12ae5bac8f
        ```
      parameters:
        - $ref: '#/components/parameters/byUuid'
        - $ref: '#/components/parameters/byGuildName'
      responses:
        '200':
          description: An object containing the guild ID if found, otherwise if not found the guild property will be null.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      guild:
                        type: string
                        nullable: true
                        example: 5985b1930cf28d110c2dac07
                    required:
                      - guild
        '400':
          description: Missing one or more fields [byName,byUuid]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                success: false
                cause: 'Missing one or more fields [byName,byUuid]'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/MalformedUUID'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /friends:
    get:
      tags:
        - player
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/friends.md
      summary: Returns friendships for given player.
      description: |
        #### Usage
        ```typescript
        const friends = await client.friends.uuid("20934ef9488c465180a78f861586b4cf");
        ```
      parameters:
        - $ref: '#/components/parameters/PlayerUuid'
      responses:
        '200':
          description: An array containing a list of objects describing the player's friends.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      records:
                        type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            uuidSender:
                              type: string
                            uuidReceiver:
                              type: string
                            started:
                              type: number
                          required:
                            - _id
                            - uuidSender
                            - uuidReceiver
                            - started
                    example:
                      records:
                        - _id: 5eb97d170cf22f431e8d6170
                          uuidSender: 20934ef9488c465180a78f861586b4cf
                          uuidReceiver: 7486aa03aca5470e888dde8a43eb8c10
                          started: 1589214487454
                        - _id: 5eb97d180cf22f431e8d6171
                          uuidSender: 20934ef9488c465180a78f861586b4cf
                          uuidReceiver: 9926753a434e4b46a07625993a07b8ef
                          started: 1589214488015
                        - _id: 5eb97d180cf22f431e8d6172
                          uuidSender: 20934ef9488c465180a78f861586b4cf
                          uuidReceiver: b1f3957b2a1148298b55a9143548bbaa
                          started: 1589214488334
                        - _id: 5eb97d180cf22f431e8d6173
                          uuidSender: 20934ef9488c465180a78f861586b4cf
                          uuidReceiver: 4f9fceb6b17144058c6ef9ba4cfe3805
                          started: 1589214488791
                    required:
                      - records
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/MalformedUUID'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /gameCounts:
    get:
      tags:
        - metadata
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/gameCounts.md
      summary: Returns the current player count along with the player count of each public game + mode on the server.
      description: |
        #### Usage
        ```typescript
        const gameCounts = await client.gameCounts();
        ```
      responses:
        '200':
          description: An object describing the current player count and game counts on the Hypixel network.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      playerCount:
                        type: integer
                        example: 77238
                        description: Total players on the network
                      games:
                        type: object
                        properties:
                          MAIN_LOBBY:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                          TOURNAMENT_LOBBY:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                          UHC:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  TEAMS:
                                    type: integer
                                  SOLO:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - TEAMS
                                  - SOLO
                            required:
                              - players
                              - modes
                          SUPER_SMASH:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  1v1_normal:
                                    type: integer
                                  friends_normal:
                                    type: integer
                                  solo_normal:
                                    type: integer
                                  2v2_normal:
                                    type: integer
                                  teams_normal:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - 1v1_normal
                                  - friends_normal
                                  - solo_normal
                                  - 2v2_normal
                                  - teams_normal
                            required:
                              - players
                              - modes
                          LEGACY:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  QUAKECRAFT:
                                    type: integer
                                  WALLS:
                                    type: integer
                                  VAMPIREZ:
                                    type: integer
                                  ARENA:
                                    type: integer
                                  PAINTBALL:
                                    type: integer
                                  GINGERBREAD:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - QUAKECRAFT
                                  - WALLS
                                  - VAMPIREZ
                                  - ARENA
                                  - PAINTBALL
                                  - GINGERBREAD
                            required:
                              - players
                              - modes
                          BUILD_BATTLE:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  BUILD_BATTLE_SOLO_NORMAL_LATEST:
                                    type: integer
                                  BUILD_BATTLE_GUESS_THE_BUILD:
                                    type: integer
                                  BUILD_BATTLE_TEAMS_NORMAL:
                                    type: integer
                                  BUILD_BATTLE_SOLO_NORMAL:
                                    type: integer
                                  BUILD_BATTLE_SOLO_PRO:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - BUILD_BATTLE_SOLO_NORMAL_LATEST
                                  - BUILD_BATTLE_GUESS_THE_BUILD
                                  - BUILD_BATTLE_TEAMS_NORMAL
                                  - BUILD_BATTLE_SOLO_NORMAL
                                  - BUILD_BATTLE_SOLO_PRO
                            required:
                              - players
                              - modes
                          BATTLEGROUND:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  ctf_mini:
                                    type: integer
                                  domination:
                                    type: integer
                                  team_deathmatch:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - ctf_mini
                                  - domination
                                  - team_deathmatch
                            required:
                              - players
                              - modes
                          WALLS3:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  standard:
                                    type: integer
                                  face_off:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - standard
                                  - face_off
                            required:
                              - players
                              - modes
                          HOUSING:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                          SPEED_UHC:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  team_normal:
                                    type: integer
                                  solo_normal:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - team_normal
                                  - solo_normal
                            required:
                              - players
                              - modes
                          DUELS:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  DUELS_BOWSPLEEF_DUEL:
                                    type: integer
                                  DUELS_BRIDGE_2V2V2V2:
                                    type: integer
                                  DUELS_BOW_DUEL:
                                    type: integer
                                  DUELS_UHC_FOUR:
                                    type: integer
                                  DUELS_MW_DUEL:
                                    type: integer
                                  DUELS_UHC_MEETUP:
                                    type: integer
                                  DUELS_BRIDGE_DOUBLES:
                                    type: integer
                                  DUELS_SW_DOUBLES:
                                    type: integer
                                  DUELS_UHC_DOUBLES:
                                    type: integer
                                  DUELS_BRIDGE_FOUR:
                                    type: integer
                                  DUELS_BRIDGE_3V3V3V3:
                                    type: integer
                                  DUELS_SUMO_DUEL:
                                    type: integer
                                  DUELS_UHC_DUEL:
                                    type: integer
                                  DUELS_OP_DOUBLES:
                                    type: integer
                                  DUELS_OP_DUEL:
                                    type: integer
                                  DUELS_MW_DOUBLES:
                                    type: integer
                                  DUELS_BLITZ_DUEL:
                                    type: integer
                                  DUELS_POTION_DUEL:
                                    type: integer
                                  DUELS_CLASSIC_DUEL:
                                    type: integer
                                  DUELS_COMBO_DUEL:
                                    type: integer
                                  DUELS_BRIDGE_DUEL:
                                    type: integer
                                  DUELS_SW_DUEL:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - DUELS_BOWSPLEEF_DUEL
                                  - DUELS_BRIDGE_2V2V2V2
                                  - DUELS_BOW_DUEL
                                  - DUELS_UHC_FOUR
                                  - DUELS_MW_DUEL
                                  - DUELS_UHC_MEETUP
                                  - DUELS_BRIDGE_DOUBLES
                                  - DUELS_SW_DOUBLES
                                  - DUELS_UHC_DOUBLES
                                  - DUELS_BRIDGE_FOUR
                                  - DUELS_BRIDGE_3V3V3V3
                                  - DUELS_SUMO_DUEL
                                  - DUELS_UHC_DUEL
                                  - DUELS_OP_DOUBLES
                                  - DUELS_OP_DUEL
                                  - DUELS_MW_DOUBLES
                                  - DUELS_BLITZ_DUEL
                                  - DUELS_POTION_DUEL
                                  - DUELS_CLASSIC_DUEL
                                  - DUELS_COMBO_DUEL
                                  - DUELS_BRIDGE_DUEL
                                  - DUELS_SW_DUEL
                            required:
                              - players
                              - modes
                          REPLAY:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  BASE:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - BASE
                            required:
                              - players
                              - modes
                          SURVIVAL_GAMES:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  solo_normal:
                                    type: integer
                                  teams_normal:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - solo_normal
                                  - teams_normal
                            required:
                              - players
                              - modes
                          PROTOTYPE:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  TOWERWARS_SOLO:
                                    type: integer
                                  TOWERWARS_TEAM_OF_TWO:
                                    type: integer
                                required:
                                  - TOWERWARS_SOLO
                                  - TOWERWARS_TEAM_OF_TWO
                            required:
                              - players
                              - modes
                          MURDER_MYSTERY:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  MURDER_DOUBLE_UP:
                                    type: integer
                                  MURDER_INFECTION:
                                    type: integer
                                  MURDER_ASSASSINS:
                                    type: integer
                                  MURDER_CLASSIC:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - MURDER_DOUBLE_UP
                                  - MURDER_INFECTION
                                  - MURDER_ASSASSINS
                                  - MURDER_CLASSIC
                            required:
                              - players
                              - modes
                          MCGO:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  normal:
                                    type: integer
                                  normal_party:
                                    type: integer
                                  deathmatch:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - normal
                                  - normal_party
                                  - deathmatch
                            required:
                              - players
                              - modes
                          BEDWARS:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  BEDWARS_TWO_FOUR:
                                    type: integer
                                  BEDWARS_FOUR_THREE:
                                    type: integer
                                  BEDWARS_FOUR_FOUR_RUSH:
                                    type: integer
                                  BEDWARS_FOUR_FOUR_LUCKY:
                                    type: integer
                                  BEDWARS_EIGHT_ONE:
                                    type: integer
                                  BEDWARS_EIGHT_TWO_VOIDLESS:
                                    type: integer
                                  BEDWARS_EIGHT_TWO_RUSH:
                                    type: integer
                                  BEDWARS_FOUR_FOUR_ARMED:
                                    type: integer
                                  BEDWARS_EIGHT_TWO_ARMED:
                                    type: integer
                                  BEDWARS_FOUR_FOUR:
                                    type: integer
                                  BEDWARS_EIGHT_TWO:
                                    type: integer
                                  BEDWARS_EIGHT_TWO_LUCKY:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - BEDWARS_TWO_FOUR
                                  - BEDWARS_FOUR_THREE
                                  - BEDWARS_FOUR_FOUR_RUSH
                                  - BEDWARS_FOUR_FOUR_LUCKY
                                  - BEDWARS_EIGHT_ONE
                                  - BEDWARS_EIGHT_TWO_VOIDLESS
                                  - BEDWARS_EIGHT_TWO_RUSH
                                  - BEDWARS_FOUR_FOUR_ARMED
                                  - BEDWARS_EIGHT_TWO_ARMED
                                  - BEDWARS_FOUR_FOUR
                                  - BEDWARS_EIGHT_TWO
                                  - BEDWARS_EIGHT_TWO_LUCKY
                            required:
                              - players
                              - modes
                          SKYBLOCK:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  combat_1:
                                    type: integer
                                  dungeon_hub:
                                    type: integer
                                  foraging_1:
                                    type: integer
                                  hub:
                                    type: integer
                                  mining_2:
                                    type: integer
                                  dungeon:
                                    type: integer
                                  combat_2:
                                    type: integer
                                  farming_2:
                                    type: integer
                                  mining_1:
                                    type: integer
                                  farming_1:
                                    type: integer
                                  combat_3:
                                    type: integer
                                  dynamic:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - combat_1
                                  - dungeon_hub
                                  - foraging_1
                                  - hub
                                  - mining_2
                                  - dungeon
                                  - combat_2
                                  - farming_2
                                  - mining_1
                                  - farming_1
                                  - combat_3
                                  - dynamic
                            required:
                              - players
                              - modes
                          ARCADE:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  PARTY:
                                    type: integer
                                  HOLE_IN_THE_WALL:
                                    type: integer
                                  DEFENDER:
                                    type: integer
                                  MINI_WALLS:
                                    type: integer
                                  SIMON_SAYS:
                                    type: integer
                                  ZOMBIES_BAD_BLOOD:
                                    type: integer
                                  HIDE_AND_SEEK_PARTY_POOPER:
                                    type: integer
                                  DAYONE:
                                    type: integer
                                  DRAW_THEIR_THING:
                                    type: integer
                                  ZOMBIES_ALIEN_ARCADIUM:
                                    type: integer
                                  ONEINTHEQUIVER:
                                    type: integer
                                  SOCCER:
                                    type: integer
                                  PVP_CTW:
                                    type: integer
                                  THROW_OUT:
                                    type: integer
                                  ENDER:
                                    type: integer
                                  STARWARS:
                                    type: integer
                                  HALLOWEEN_SIMULATOR:
                                    type: integer
                                  DRAGONWARS2:
                                    type: integer
                                  ZOMBIES_DEAD_END:
                                    type: integer
                                  HIDE_AND_SEEK_PROP_HUNT:
                                    type: integer
                                  FARM_HUNT:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - PARTY
                                  - HOLE_IN_THE_WALL
                                  - DEFENDER
                                  - MINI_WALLS
                                  - SIMON_SAYS
                                  - ZOMBIES_BAD_BLOOD
                                  - HIDE_AND_SEEK_PARTY_POOPER
                                  - DAYONE
                                  - DRAW_THEIR_THING
                                  - ZOMBIES_ALIEN_ARCADIUM
                                  - ONEINTHEQUIVER
                                  - SOCCER
                                  - PVP_CTW
                                  - THROW_OUT
                                  - ENDER
                                  - STARWARS
                                  - HALLOWEEN_SIMULATOR
                                  - DRAGONWARS2
                                  - ZOMBIES_DEAD_END
                                  - HIDE_AND_SEEK_PROP_HUNT
                                  - FARM_HUNT
                            required:
                              - players
                              - modes
                          PIT:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  PIT:
                                    type: integer
                                required:
                                  - PIT
                            required:
                              - players
                              - modes
                          TNTGAMES:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  PVPRUN:
                                    type: integer
                                  TNTAG:
                                    type: integer
                                  TNTRUN:
                                    type: integer
                                  BOWSPLEEF:
                                    type: integer
                                  CAPTURE:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - PVPRUN
                                  - TNTAG
                                  - TNTRUN
                                  - BOWSPLEEF
                                  - CAPTURE
                            required:
                              - players
                              - modes
                          SKYWARS:
                            type: object
                            properties:
                              players:
                                type: integer
                              modes:
                                type: object
                                properties:
                                  solo_insane_lucky:
                                    type: integer
                                  solo_insane_slime:
                                    type: integer
                                  teams_insane_lucky:
                                    type: integer
                                  solo_normal:
                                    type: integer
                                  teams_insane:
                                    type: integer
                                  solo_insane_hunters_vs_beasts:
                                    type: integer
                                  ranked_normal:
                                    type: integer
                                  solo_insane_tnt_madness:
                                    type: integer
                                  mega_doubles:
                                    type: integer
                                  solo_insane:
                                    type: integer
                                  teams_insane_tnt_madness:
                                    type: integer
                                  teams_normal:
                                    type: integer
                                  mega_normal:
                                    type: integer
                                additionalProperties:
                                  type: integer
                                required:
                                  - solo_insane_lucky
                                  - solo_insane_slime
                                  - teams_insane_lucky
                                  - solo_normal
                                  - teams_insane
                                  - solo_insane_hunters_vs_beasts
                                  - ranked_normal
                                  - solo_insane_tnt_madness
                                  - mega_doubles
                                  - solo_insane
                                  - teams_insane_tnt_madness
                                  - teams_normal
                                  - mega_normal
                            required:
                              - players
                              - modes
                          LIMBO:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                          IDLE:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                          QUEUE:
                            type: object
                            properties:
                              players:
                                type: integer
                            required:
                              - players
                        example:
                          MAIN_LOBBY:
                            players: 400
                          TOURNAMENT_LOBBY:
                            players: 7
                          UHC:
                            players: 796
                            modes:
                              TEAMS: 399
                              SOLO: 331
                          SUPER_SMASH:
                            players: 91
                            modes:
                              1v1_normal: 7
                              friends_normal: 4
                              solo_normal: 11
                              2v2_normal: 32
                              teams_normal: 8
                          LEGACY:
                            players: 308
                            modes:
                              QUAKECRAFT: 18
                              WALLS: 83
                              VAMPIREZ: 95
                              ARENA: 8
                              PAINTBALL: 37
                              GINGERBREAD: 19
                          BUILD_BATTLE:
                            players: 1329
                            modes:
                              BUILD_BATTLE_HALLOWEEN: 32
                              BUILD_BATTLE_SOLO_NORMAL_LATEST: 256
                              BUILD_BATTLE_GUESS_THE_BUILD: 150
                              BUILD_BATTLE_TEAMS_NORMAL: 478
                              BUILD_BATTLE_SOLO_NORMAL: 171
                              BUILD_BATTLE_SOLO_PRO: 81
                          BATTLEGROUND:
                            players: 80
                            modes:
                              ctf_mini: 60
                              domination: 1
                              team_deathmatch: 5
                          WALLS3:
                            players: 290
                            modes:
                              standard: 261
                              face_off: 5
                          HOUSING:
                            players: 3511
                          SPEED_UHC:
                            players: 43
                            modes:
                              team_normal: 18
                              solo_normal: 25
                          DUELS:
                            players: 5745
                            modes:
                              DUELS_BOWSPLEEF_DUEL: 61
                              DUELS_BRIDGE_2V2V2V2: 12
                              DUELS_BOW_DUEL: 40
                              DUELS_UHC_FOUR: 91
                              DUELS_MW_DUEL: 44
                              DUELS_UHC_MEETUP: 78
                              DUELS_BRIDGE_DOUBLES: 287
                              DUELS_SW_DOUBLES: 224
                              DUELS_UHC_DOUBLES: 114
                              DUELS_BRIDGE_FOUR: 94
                              DUELS_BRIDGE_3V3V3V3: 39
                              DUELS_SUMO_DUEL: 184
                              DUELS_UHC_DUEL: 583
                              DUELS_OP_DOUBLES: 48
                              DUELS_OP_DUEL: 132
                              DUELS_MW_DOUBLES: 4
                              DUELS_BLITZ_DUEL: 118
                              DUELS_POTION_DUEL: 26
                              DUELS_CLASSIC_DUEL: 430
                              DUELS_COMBO_DUEL: 48
                              DUELS_BRIDGE_DUEL: 1443
                              DUELS_SW_DUEL: 616
                          REPLAY:
                            players: 18
                            modes:
                              BASE: 18
                          SURVIVAL_GAMES:
                            players: 390
                            modes:
                              solo_normal: 171
                              teams_normal: 154
                          PROTOTYPE:
                            players: 527
                            modes:
                              TOWERWARS_SOLO: 33
                              TOWERWARS_TEAM_OF_TWO: 33
                          MURDER_MYSTERY:
                            players: 1416
                            modes:
                              MURDER_DOUBLE_UP: 360
                              MURDER_INFECTION: 120
                              MURDER_ASSASSINS: 129
                              MURDER_CLASSIC: 627
                          MCGO:
                            players: 147
                            modes:
                              normal: 84
                              normal_party: 8
                              deathmatch: 35
                          BEDWARS:
                            players: 23917
                            modes:
                              BEDWARS_TWO_FOUR: 788
                              BEDWARS_FOUR_THREE: 4052
                              BEDWARS_FOUR_FOUR_RUSH: 3
                              BEDWARS_FOUR_FOUR_LUCKY: 18
                              BEDWARS_EIGHT_ONE: 2525
                              BEDWARS_EIGHT_TWO_VOIDLESS: 7
                              BEDWARS_EIGHT_TWO_RUSH: 10
                              BEDWARS_FOUR_FOUR_ARMED: 858
                              BEDWARS_EIGHT_TWO_ARMED: 642
                              BEDWARS_FOUR_FOUR: 5090
                              BEDWARS_EIGHT_TWO: 6784
                              BEDWARS_EIGHT_TWO_LUCKY: 35
                          SKYBLOCK:
                            players: 33850
                            modes:
                              combat_1: 533
                              dungeon_hub: 1022
                              foraging_1: 794
                              hub: 9291
                              mining_2: 1111
                              dungeon: 2823
                              combat_2: 383
                              farming_2: 186
                              mining_1: 351
                              farming_1: 169
                              combat_3: 1641
                              dynamic: 15547
                          ARCADE:
                            players: 2665
                            modes:
                              PARTY: 583
                              HOLE_IN_THE_WALL: 20
                              DEFENDER: 44
                              MINI_WALLS: 121
                              SIMON_SAYS: 78
                              ZOMBIES_BAD_BLOOD: 23
                              HIDE_AND_SEEK_PARTY_POOPER: 48
                              DAYONE: 133
                              DRAW_THEIR_THING: 54
                              ZOMBIES_ALIEN_ARCADIUM: 117
                              ONEINTHEQUIVER: 49
                              SOCCER: 37
                              PVP_CTW: 380
                              THROW_OUT: 14
                              ENDER: 25
                              STARWARS: 51
                              HALLOWEEN_SIMULATOR: 92
                              DRAGONWARS2: 20
                              ZOMBIES_DEAD_END: 244
                              HIDE_AND_SEEK_PROP_HUNT: 86
                              FARM_HUNT: 93
                          PIT:
                            players: 974
                            modes:
                              PIT: 974
                          TNTGAMES:
                            players: 948
                            modes:
                              PVPRUN: 26
                              TNTAG: 467
                              TNTRUN: 246
                              BOWSPLEEF: 64
                              CAPTURE: 39
                          SKYWARS:
                            players: 6287
                            modes:
                              solo_insane_lucky: 233
                              solo_insane_slime: 10
                              teams_insane_lucky: 160
                              solo_normal: 1416
                              teams_insane: 607
                              solo_insane_hunters_vs_beasts: 2
                              ranked_normal: 264
                              solo_insane_tnt_madness: 87
                              mega_doubles: 8
                              solo_insane: 1810
                              teams_insane_tnt_madness: 3
                              teams_normal: 631
                              mega_normal: 89
                          LIMBO:
                            players: 153
                          IDLE:
                            players: 8475
                          QUEUE:
                            players: 0
                        additionalProperties:
                          type: object
                          properties:
                            players:
                              type: integer
                            modes:
                              type: object
                              additionalProperties:
                                type: integer
                          required:
                            - players  
                        required:
                          - MAIN_LOBBY
                          - TOURNAMENT_LOBBY
                          - UHC
                          - SUPER_SMASH
                          - LEGACY
                          - BUILD_BATTLE
                          - BATTLEGROUND
                          - WALLS3
                          - HOUSING
                          - SPEED_UHC
                          - DUELS
                          - REPLAY
                          - SURVIVAL_GAMES
                          - PROTOTYPE
                          - MURDER_MYSTERY
                          - MCGO
                          - BEDWARS
                          - SKYBLOCK
                          - ARCADE
                          - PIT
                          - TNTGAMES
                          - SKYWARS
                          - LIMBO
                          - IDLE
                          - QUEUE
                required:
                  - playerCount
                  - games
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /guild:
    get:
      tags:
        - guild
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/guild.md
      summary: Returns information about given guild.
      description: |
        See [resources.md](https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/resources.md) for a JSON list of guild achievements and a JSON list of guild permissions.
        #### Usage
        ```typescript
        const guild = await client.guild.player("20934ef9488c465180a78f861586b4cf");
        ```
      parameters:
        - name: id
          required: false
          description: Hypixel guild ID.
          in: query
          schema:
            type: string
            example: 553490650cf26f12ae5bac8f
        - name: player
          required: false
          description: Minecraft UUID of the player you want to find the guild of.
          in: query
          schema:
            type: string
            example: 20934ef9488c465180a78f861586b4cf
        - name: name
          required: false
          description: Name of the Hypixel guild.
          in: query
          schema:
            type: string
            example: Mini Squid
      responses:
        '200':
          description: An array containing a list of objects describing the player's friends.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      guild:
                        type: object
                        nullable: true
                        properties:
                          _id:
                            type: string
                          name:
                            type: string
                          coins:
                            type: number
                          coinsEver:
                            type: number
                          created:
                            type: number
                          members:
                            type: array
                            items:
                              type: object
                              properties:
                                uuid:
                                  type: string
                                rank:
                                  type: string
                                joined:
                                  type: number
                                questParticipation:
                                  type: number
                                expHistory:
                                  type: object
                                  additionalProperties:
                                    type: number
                                mutedTill:
                                  type: number
                              required:
                                - uuid
                                - rank
                                - joined
                                - expHistory
                          tag:
                            type: string
                          banner:
                            type: object
                            properties:
                              Base:
                                oneOf:
                                  - type: number
                                  - type: string
                              Patterns:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    Pattern:
                                      type: string
                                    Color:
                                      oneOf:
                                        - type: number
                                        - type: string
                                  required:
                                    - Pattern
                                    - Color
                            required:
                              - Base
                              - Patterns
                          achievements:
                            type: object
                            properties:
                              WINNERS:
                                type: number
                              EXPERIENCE_KINGS:
                                type: number
                              ONLINE_PLAYERS:
                                type: number
                            required:
                              - WINNERS
                              - EXPERIENCE_KINGS
                              - ONLINE_PLAYERS
                          exp:
                            type: number
                          legacyRanking:
                            type: number
                          ranks:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                default:
                                  type: boolean
                                tag:
                                  type: string
                                  nullable: true
                                created:
                                  type: number
                                priority:
                                  type: number
                              required:
                                - name
                                - default
                                - tag
                                - created
                                - priority
                          name_lower:
                            type: string
                          chatMute:
                            type: number
                          preferredGames:
                            type: array
                            items:
                              type: string
                          publiclyListed:
                            type: boolean
                          tagColor:
                            type: string
                          guildExpByGameType:
                            type: object
                            properties:
                              DUELS:
                                type: number
                              BUILD_BATTLE:
                                type: number
                              HOUSING:
                                type: number
                              GINGERBREAD:
                                type: number
                              SURVIVAL_GAMES:
                                type: number
                              WALLS:
                                type: number
                              TNTGAMES:
                                type: number
                              QUAKECRAFT:
                                type: number
                              MCGO:
                                type: number
                              ARENA:
                                type: number
                              VAMPIREZ:
                                type: number
                              BEDWARS:
                                type: number
                              SKYWARS:
                                type: number
                              MURDER_MYSTERY:
                                type: number
                              SUPER_SMASH:
                                type: number
                              SPEED_UHC:
                                type: number
                              PIT:
                                type: number
                              SKYBLOCK:
                                type: number
                              BATTLEGROUND:
                                type: number
                              UHC:
                                type: number
                              ARCADE:
                                type: number
                              PROTOTYPE:
                                type: number
                              LEGACY:
                                type: number
                              REPLAY:
                                type: number
                              WALLS3:
                                type: number
                              PAINTBALL:
                                type: number
                            required:
                              - DUELS
                              - BUILD_BATTLE
                              - HOUSING
                              - GINGERBREAD
                              - SURVIVAL_GAMES
                              - WALLS
                              - TNTGAMES
                              - QUAKECRAFT
                              - MCGO
                              - ARENA
                              - VAMPIREZ
                              - BEDWARS
                              - SKYWARS
                              - MURDER_MYSTERY
                              - SUPER_SMASH
                              - SPEED_UHC
                              - PIT
                              - SKYBLOCK
                              - BATTLEGROUND
                              - UHC
                              - ARCADE
                              - PROTOTYPE
                              - LEGACY
                              - REPLAY
                              - WALLS3
                              - PAINTBALL
                          joinable:
                            type: boolean
                          description:
                            type: string
                        required:
                          - _id
                          - name
                          - coins
                          - coinsEver
                          - created
                          - members
                          - tag
                          - achievements
                          - exp
                          - ranks
                          - name_lower
                          - publiclyListed
                          - tagColor
                          - guildExpByGameType
                        example:
                          guild:
                            _id: 553490650cf26f12ae5bac8f
                            name: Mini Squid
                            coins: 425310
                            coinsEver: 1835310
                            created: 1429508197967
                            members:
                              - uuid: 20934ef9488c465180a78f861586b4cf
                                rank: GUILDMASTER
                                joined: 1429508197967
                                questParticipation: 139
                                expHistory:
                                  '2020-11-06': 2226
                                  '2020-11-05': 0
                                  '2020-11-04': 4059
                                  '2020-11-03': 0
                                  '2020-11-02': 1102
                                  '2020-11-01': 0
                                  '2020-10-31': 0
                              - uuid: 6a12d6f63e134c8bbebc70d90a797281
                                rank: Famous
                                joined: 1518021755919
                                questParticipation: 325
                                expHistory:
                                  '2020-11-06': 0
                                  '2020-11-05': 0
                                  '2020-11-04': 0
                                  '2020-11-03': 2399
                                  '2020-11-02': 758
                                  '2020-11-01': 4309
                                  '2020-10-31': 740
                              - uuid: a99d9661fe2d4594a6b3d910c85cc4a4
                                rank: MEMBER
                                joined: 1530770040736
                                questParticipation: 800
                                expHistory:
                                  '2020-11-06': 0
                                  '2020-11-05': 0
                                  '2020-11-04': 0
                                  '2020-11-03': 0
                                  '2020-11-02': 0
                                  '2020-11-01': 0
                                  '2020-10-31': 0
                              - uuid: 8a8bcd44c2034281a008ff7a1e0ead2f
                                rank: MEMBER
                                joined: 1532204533230
                                questParticipation: 634
                                expHistory:
                                  '2020-11-06': 0
                                  '2020-11-05': 0
                                  '2020-11-04': 0
                                  '2020-11-03': 0
                                  '2020-11-02': 0
                                  '2020-11-01': 0
                                  '2020-10-31': 0
                            tag: §a1§e2§c3§7
                            banner:
                              Base: 15
                              Patterns:
                                - Pattern: bo
                                  Color: 9
                                - Pattern: bri
                                  Color: 5
                            achievements:
                              WINNERS: 1080
                              EXPERIENCE_KINGS: 316804
                              ONLINE_PLAYERS: 125
                            exp: 274641340
                            legacyRanking: 2891
                            ranks:
                              - name: Famous
                                default: false
                                tag: F
                                created: 1562382958149
                                priority: 3
                              - name: Member
                                default: true
                                tag: null
                                created: 1562383012859
                                priority: 2
                              - name: Big Nerd
                                default: false
                                tag: B
                                created: 1588882422793
                                priority: 7
                              - name: Notorious Nerd
                                default: false
                                tag: NERD
                                created: 1588882818050
                                priority: 5
                            name_lower: mini squid
                            chatMute: 0
                            preferredGames:
                              - SKYWARS
                            publiclyListed: true
                            tagColor: GRAY
                            guildExpByGameType:
                              DUELS: 25270418
                              BUILD_BATTLE: 10772932
                              HOUSING: 22601152
                              GINGERBREAD: 888064
                              SURVIVAL_GAMES: 3504037
                              WALLS: 1472671
                              TNTGAMES: 7419981
                              QUAKECRAFT: 857167
                              MCGO: 1245579
                              ARENA: 300356
                              VAMPIREZ: 1497562
                              BEDWARS: 127334623
                              SKYWARS: 111325349
                              MURDER_MYSTERY: 8704331
                              SUPER_SMASH: 308906
                              SPEED_UHC: 311651
                              PIT: 0
                              SKYBLOCK: 0
                              BATTLEGROUND: 897997
                              UHC: 12670118
                              ARCADE: 10589782
                              PROTOTYPE: 206060467
                              LEGACY: 0
                              REPLAY: 0
                              WALLS3: 3467841
                              PAINTBALL: 429708
                    required:
                      - guild

        '400':
          description: Missing one or more fields [id,name,player]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                success: false
                cause: 'Missing one or more fields [id,name,player]'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Malformed parameter (player UUID or guild ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                uuid:
                  summary: The player UUID supplied is malformed.
                  value:
                    success: false
                    cause: Malformed UUID
                guildId:
                  summary: The guild ID supplied is malformed.
                  value:
                    success: false
                    cause: Malformed guild ID
        '429':
          $ref: '#/components/responses/RateLimitError'
  /key:
    get:
      tags:
        - metadata
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/key.md
      summary: Returns information regarding given key.
      description: |
        #### Usage
        ```typescript
        const key = await client.key();
        ```
      responses:
        '200':
          description: An object describing the API key's information.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      record:
                        type: object
                        properties:
                          key:
                            type: string
                          owner:
                            type: string
                          limit:
                            type: number
                          queriesInPastMin:
                            type: number
                          totalQueries:
                            type: number
                        required:
                          - key
                          - owner
                          - limit
                          - queriesInPastMin
                          - totalQueries
                    example:
                      record:
                        key: 00000000-0000-0000-0000-000000000000
                        owner: 20934ef9-488c-4651-80a7-8f861586b4cf
                        limit: 120
                        queriesInPastMin: 12
                        totalQueries: 1234
                    required:
                      - record
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /playerCount:
    get:
      tags:
        - metadata
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/playerCount.md
      summary: Returns current player count.
      description: |
        #### Usage
        ```typescript
        const playerCount = await client.playerCount();
        ```
      responses:
        '200':
          description: An object describing the current player count on the Hypixel network.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      playerCount:
                        type: integer
                        example: 75612
                        description: Total players on the network
                    required:
                      - playerCount
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /recentGames:
    get:
      tags:
        - player
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/recentGames.md
      summary: Returns recent games of a player. A maximum of 100 games are returned and recent games are only stored for up to 3 days at this time.
      description: |
        Players can disable this endpoint via in-game settings. When done so the API will return as if there is no games.
        #### Usage
        ```typescript
        const recentGames = await client.recentGames.uuid("20934ef9488c465180a78f861586b4cf");
        ```
      parameters:
        - $ref: '#/components/parameters/PlayerUuid'
      responses:
        '200':
          description: An object describing the player's recent games.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      games:
                        type: array
                        description: Watchdog's bans in the last minute.
                        items:
                          type: object
                          properties:
                            date:
                              type: number
                              example: 1590850836485
                            gameType:
                              type: string
                              example: BEDWARS
                            mode:
                              type: string
                              example: FOUR_FOUR
                            map:
                              type: string
                              example: Dreamgrove
                            ended:
                              type: number
                              example: 1590850919917
                          required:
                            - date
                            - gameType
                            - mode
                            - map
                    required:
                      - games
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/MalformedUUID'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /skyblock/news:
    get:
      tags:
        - skyblock
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/skyblock/news.md
      summary: Returns SkyBlock news, including a title, description and a thread.
      description: |
        #### Usage
        ```typescript
        const news = await client.skyblock.news();
        ```
      responses:
        '200':
          description: A object describing news items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'
              example:
                success: true
                items:
                  - item:
                      - material: EMERALD
                    link: 'https://hypixel.net/threads/3287083/'
                    text: 8th September 2020
                    title: SkyBlock v0.9
                  - item:
                      - material: WEB
                    link: 'https://hypixel.net/threads/3287083/'
                    text: 7th July 2020
                    title: SkyBlock v0.8
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /resources/skyblock/collections:
    get:
      tags:
        - skyblock
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/resources.md
      summary: Retrieve a list of ingame collections.
      description: |
        _Does not require an API key._
        #### Usage
        ```typescript
        const collections = await client.resources.skyblock.collections();
        ```
      security: []
      responses:
        '200':
          description: Collections response for the current existing connections.
          content: 
            application/json: 
              schema:
                $ref: '#/components/schemas/SkyBlockCollectionsResourcesResponse'
              example: 
                success: true
                lastUpdated: 1595295719158
                version: "0.8.24"
                collections: 
                  FARMING:
                    name: "Farming"
                    items: 
                      WHEAT: 
                        name: "Wheat"
                        maxTiers: 10
                        tiers: 
                          - 
                            tier: 1
                            amountRequired: 50
                            unlocks: 
                              - "Wheat Minion Recipes"
                          - 
                            tier: 2
                            amountRequired: 100
                            unlocks: 
                              - "Enchanted Book (Harvesting V) Recipe"
                          - 
                            tier: 3
                            amountRequired: 250
                            unlocks: 
                              - "Farm Suit Helmet Recipe"
                              - "Farm Suit Chestplate Recipe"
                              - "Farm Suit Leggings Recipe"
                              - "Farm Suit Boots Recipe"
                      CARROT_ITEM: 
                        name: "Carrot"
                        maxTiers: 9
                        tiers: 
                          - 
                            tier: 1
                            amountRequired: 100
                            unlocks: 
                              - "Carrot Minion Recipes"
                          - 
                            tier: 2
                            amountRequired: 250
                            unlocks: 
                              - "Simple Carrot Candy Recipe"
                          - 
                            tier: 3
                            amountRequired: 500
                            unlocks: 
                              - "Catching Egg (COMING SOON)"
                  FISHING: 
                    name: "Fishing"
                    items: 
                      RAW_FISH: 
                        name: "Raw Fish"
                        maxTiers: 11
                        tiers: 
                          - 
                            tier: 1
                            amountRequired: 20
                            unlocks: 
                              - "Fish Hat Recipe"
                          - 
                            tier: 2
                            amountRequired: 50
                            unlocks: 
                              - "Fishing Minion Recipes"
                          - 
                            tier: 3
                            amountRequired: 100
                            unlocks: 
                              - "Small Fishing Bag Upgrade"
                      RAW_FISH:1: 
                        name: "Raw Salmon"
                        maxTiers: 9
                        tiers: 
                          - 
                            tier: 1
                            amountRequired: 20
                            unlocks: 
                              - "Minnow Bait Recipe"
                          - 
                            tier: 2
                            amountRequired: 50
                            unlocks: 
                              - "Dodge Potion Recipe"
                          - 
                            tier: 3
                            amountRequired: 100
                            unlocks: 
                              - "Enchanted Book (Lure IV) Recipe"
  /resources/skyblock/skills:
    get:
      tags:
        - skyblock
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/resources.md
      summary: Retrieve a list of ingame skills.
      description: |
        _Does not require an API key._
        #### Usage
        ```typescript
        const skills = await client.resources.skyblock.skills();
        ```
      security: []
      responses:
        '200':
          description: Skills response for the current existing skills.
          content: 
            application/json: 
              schema:
                $ref: '#/components/schemas/SkyBlockSkillsResourcesResponse'
              example:
                success: true
                lastUpdated: 1603093084720
                version: 0.9.87
                collections:
                  FARMING:
                    name: Farming
                    description: Harvest crops and shear sheep to earn Farming XP!
                    maxLevel: 50
                    levels:
                      - level: 1
                        totalExpRequired: 50
                        unlocks:
                          - Farmhand I   4% chance to get double crops.
                          - +2 HP ❤ Health
                          - Access to The Barn
                          - +25 Coins
                  DUNGEONEERING:
                    name: Dungeoneering
                    description: Complete dungeons to level up your Dungeoneering classes!
                    maxLevel: 50
                    levels:
                      - level: 1
                        totalExpRequired: 50
                        unlocks:
                          - +25 Coins
  /status:
    get:
      tags:
        - player
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/status.md
      summary: Returns online status information for given player, including game, mode and map when available.
      description: |
        Players can disable this endpoint via in-game settings. When done so the API will return as if the player is offline.
        #### Usage
        ```typescript
        const status = await client.status.uuid("20934ef9488c465180a78f861586b4cf");
        ```
      parameters:
        - $ref: '#/components/parameters/PlayerUuid'
      responses:
        '200':
          description: An object describing the player's status.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      session:
                        $ref: '#/components/schemas/Session'
                    required:
                      - session
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/MalformedUUID'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /watchdogstats:
    get:
      tags:
        - watchdog
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/watchdogstats.md
      summary: Returns some statistics about Watchdog & bans.
      description: |
        #### Usage
        ```typescript
        const stats = await client.watchdogstats();
        ```
      responses:
        '200':
          description: An object describing the current watchdog stats.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      watchdog_lastMinute:
                        type: integer
                        example: 5
                        description: Watchdog's bans in the last minute.
                      staff_rollingDaily:
                        type: integer
                        example: 1356
                        description: Staff bans in the last day.
                      watchdog_total:
                        type: integer
                        example: 4924740
                        description: Total Watchdog bans, ever.
                      watchdog_rollingDaily: 
                        type: integer
                        example: 7679
                        description: Watchdog bans in the last day.
                      staff_total: 
                        type: integer
                        example: 1608360
                        description: Total staff bans, ever.
                    required:
                      - watchdog_lastMinute
                      - staff_rollingDaily
                      - watchdog_total
                      - watchdog_rollingDaily
                      - staff_total
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
components:
  headers:
    ratelimit-limit:
      schema:
        type: integer
      description: Request limit per minute.
    ratelimit-remaining:
      schema:
        type: integer
      description: The number of requests left for the time window.
    ratelimit-reset:
      schema:
        type: integer
      description: The amount of seconds left until the ratelimit resets.
  parameters:
    PlayerUuid:
      name: uuid
      required: true
      description: Minecraft UUID of the player.
      in: query
      schema:
        type: string
        example: 20934ef9488c465180a78f861586b4cf
    byUuid:
      name: byUuid
      required: false
      description: Minecraft UUID of the player.
      in: query
      schema:
        type: string
        example: 20934ef9488c465180a78f861586b4cf
    byGuildName:
      name: byName
      required: false
      description: Hypixel guild name.
      in: query
      schema:
        type: string
        example: Mini Squid
  responses:
    MissingFields:
      description: Missing one or more fields
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            cause: 'Missing one or more fields [key]'
    RateLimitError:
      description: Hit key throttle.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            cause: Hit key throttle
    Unauthorized:
      description: Invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            cause: Invalid API key
    MalformedUUID:
      description: Malformed UUID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            cause: Malformed UUID
  schemas:
    ApiSuccess:
      type: object
      properties:
        success:
          type: boolean
          description: Whether or not the request succeeded.
          default: true
      required:
        - success
    ApiError:
      type: object
      properties:
        success:
          type: boolean
          description: Whether or not the request succeeded.
          default: false
        cause:
          type: string
          description: 'Error message of the failure that resulted in `success: false`'
      required:
        - success
        - cause
    ResourcesResponse:
      allOf:
        - $ref: '#/components/schemas/ApiSuccess'
        - type: object
          properties:
            lastUpdated:
              type: integer
              description: Unix timestamp this resource was last updated.
            version:
              type: string
              description: SkyBlock version this resource applies to.
          required:
            - success
            - lastUpdated
            - version
    SkyBlockCollectionsResourcesResponse:
      allOf:
        - $ref: '#/components/schemas/ResourcesResponse'
        - type: object
          properties:
            collections:
              $ref: '#/components/schemas/SkyBlockResourcesParentCollections'
          required:
            - success
            - lastUpdated
            - version
            - collections
    SkyBlockResourcesParentCollections:
      type: object
      description: Objects for each individual parent collection (currently FARMING, MINING, COMBAT, FORAGING, FISHING).
      properties:
        FARMING:
          $ref: '#/components/schemas/SkyBlockResourcesParentCollection'
        MINING:
          $ref: '#/components/schemas/SkyBlockResourcesParentCollection'
        COMBAT:
          $ref: '#/components/schemas/SkyBlockResourcesParentCollection'
        FORAGING:
          $ref: '#/components/schemas/SkyBlockResourcesParentCollection'
        FISHING:
          $ref: '#/components/schemas/SkyBlockResourcesParentCollection'
      required:
        - FARMING
        - MINING
        - COMBAT
        - FORAGING
        - FISHING
      additionalProperties:
        $ref: '#/components/schemas/SkyBlockResourcesParentCollection'
    SkyBlockResourcesParentCollection:
      type: object
      properties:
        name:
          type: string
          description: Name of the collection group.
        items:
          type: object
          description: Objects for each individual collection within the parent (e.g. WHEAT, SAND).
          additionalProperties:
            $ref: '#/components/schemas/SkyBlockResourcesCollection'
      required:
        - name
        - items
    SkyBlockResourcesCollection:
      type: object
      properties:
        name:
          type: string
          description: Name of the collection.
        maxTiers:
          type: integer
          description: The maximum tier of this collection.
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/SkyBlockResourcesCollectionTier'
      required:
        - name
        - maxTiers
        - tiers
    SkyBlockResourcesCollectionTier:
      type: object
      description: Individual tier within the collection.
      properties:
        tier:
          type: integer
          description: The collection tier this applies to.
        amountRequired:
          type: integer
          description: The amount of the collection resource required to unlock this.
        unlocks:
          type: array
          description: An array of strings describing the individual unlocks of this collection.
          items:
            type: string
    SkyBlockSkillsResourcesResponse:
      allOf:
        - $ref: '#/components/schemas/ResourcesResponse'
        - type: object
          properties:
            collections:
              $ref: '#/components/schemas/SkyBlockResourcesSkills'
          required:
            - success
            - lastUpdated
            - version
            - collections
    SkyBlockResourcesSkills:
      type: object
      description: Objects for each skill.
      properties:
        FARMING:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
        MINING:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
        COMBAT:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
        DUNGEONEERING:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
        FORAGING:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
        FISHING:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
        ENCHANTING:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
        ALCHEMY:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
        CARPENTRY:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
        RUNECRAFTING:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
        TAMING:
          $ref: '#/components/schemas/SkyBlockResourcesSkill'
      required:
        - FARMING
        - MINING
        - COMBAT
        - DUNGEONEERING
        - FORAGING
        - FISHING
        - ENCHANTING
        - ALCHEMY
        - CARPENTRY
        - RUNECRAFTING
        - TAMING
      additionalProperties:
        $ref: '#/components/schemas/SkyBlockResourcesSkill'
    SkyBlockResourcesSkill:
      type: object
      properties:
        name:
          type: string
          description: Name of the skill.
        description:
          type: string
          description: Description for the skill.
        maxLevel:
          type: integer
          description: The max attainable level for the skill.
        levels:
          type: array
          description: Array of skills.
          items:
            $ref: '#/components/schemas/SkyBlockResourcesSkillLevel'
      required:
        - name
        - description
        - maxLevel
        - levels
    SkyBlockResourcesSkillLevel:
      type: object
      properties:
        level:
          type: integer
          description: The skill level this applies to.
        totalExpRequired:
          type: integer
          description: The amount of EXP required to reach this level.
        unlocks:
          type: array
          description: An array of strings describing what this skill unlocks.
          items:
            type: string
            description: An individual unlock.
      required:
        - level
        - totalExpRequired
        - unlocks
    NewsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiSuccess'
        - type: object
          properties:
            success:
              type: boolean
            items:
              $ref: '#/components/schemas/NewsEntries'
          required:
            - success
            - items
    NewsEntries:
      type: array
      items:
        $ref: '#/components/schemas/NewsEntry'
    NewsEntry:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/NewsEntryItem'
        link:
          type: string
        text:
          type: string
        title:
          type: string
      required:
        - item
        - link
        - text
        - title
    NewsEntryItem:
      type: object
      properties:
        material:
          type: string
        data:
          type: integer
      required:
        - material
    Session:
      type: object
      properties:
        online:
          type: boolean
          example: true
        gameType:
          type: string
          example: SKYWARS
        mode:
          type: string
          example: ranked_normal
        map:
          type: string
          example: Agni Temple
      required:
        - online
  securitySchemes:
    apiKey:
      type: apiKey
      name: key
      in: query
