openapi: 3.0.1
info:
  title: Hypixel Public API
  description: >
    ## Query Limitations

    The API server has a request limit of 120 queries per minute. Any abuse of
    the API or intentions to bypass this limit (such as with multiple API keys)
    will lead to your API key being reset or banned.


    If you require a higher limit than the above you can open a support ticket
    at [https://support.hypixel.net](https://support.hypixel.net) and provide
    your use case and why you require a higher limit.

    ## Obtaining an API Key

    You can obtain an API key by joining `mc.hypixel.net` with a valid Minecraft
    account and running the /api command. You will then be assigned a unique key
    that is to remain **private**.
  version: unknown
externalDocs:
  description: GitHub Documentation
  url: 'https://github.com/HypixelDev/PublicAPI/tree/master/Documentation'
servers:
  - url: 'https://api.hypixel.net'
security:
  - apiKey: []
tags:
  - name: skyblock
    description: Methods related to the SkyBlock game mode.
    externalDocs:
      url: https://github.com/HypixelDev/PublicAPI/tree/master/Documentation/methods/skyblock
paths:
  /resources/skyblock/collections:
    get:
      tags:
        - skyblock
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/resources.md
      summary: Retrieve a list of ingame collections.
      description: |
        _Does not require an API key._
        #### Example
        ```typescript
        const collections = await client.collections();
        ```
      responses:
        '200':
          description: Collections response for the current existing connections.
          content: 
            application/json: 
              schema:
                $ref: '#/components/schemas/CollectionsResourceResponse'
              example: 
                success: true
                lastUpdated: 1595295719158
                version: "0.8.24"
                collections: 
                  FARMING:
                    name: "Farming"
                    items: 
                      WHEAT: 
                        name: "Wheat"
                        maxTiers: 10
                        tiers: 
                          - 
                            tier: 1
                            amountRequired: 50
                            unlocks: 
                              - "Wheat Minion Recipes"
                          - 
                            tier: 2
                            amountRequired: 100
                            unlocks: 
                              - "Enchanted Book (Harvesting V) Recipe"
                          - 
                            tier: 3
                            amountRequired: 250
                            unlocks: 
                              - "Farm Suit Helmet Recipe"
                              - "Farm Suit Chestplate Recipe"
                              - "Farm Suit Leggings Recipe"
                              - "Farm Suit Boots Recipe"
                      CARROT_ITEM: 
                        name: "Carrot"
                        maxTiers: 9
                        tiers: 
                          - 
                            tier: 1
                            amountRequired: 100
                            unlocks: 
                              - "Carrot Minion Recipes"
                          - 
                            tier: 2
                            amountRequired: 250
                            unlocks: 
                              - "Simple Carrot Candy Recipe"
                          - 
                            tier: 3
                            amountRequired: 500
                            unlocks: 
                              - "Catching Egg (COMING SOON)"
                  FISHING: 
                    name: "Fishing"
                    items: 
                      RAW_FISH: 
                        name: "Raw Fish"
                        maxTiers: 11
                        tiers: 
                          - 
                            tier: 1
                            amountRequired: 20
                            unlocks: 
                              - "Fish Hat Recipe"
                          - 
                            tier: 2
                            amountRequired: 50
                            unlocks: 
                              - "Fishing Minion Recipes"
                          - 
                            tier: 3
                            amountRequired: 100
                            unlocks: 
                              - "Small Fishing Bag Upgrade"
                      RAW_FISH:1: 
                        name: "Raw Salmon"
                        maxTiers: 9
                        tiers: 
                          - 
                            tier: 1
                            amountRequired: 20
                            unlocks: 
                              - "Minnow Bait Recipe"
                          - 
                            tier: 2
                            amountRequired: 50
                            unlocks: 
                              - "Dodge Potion Recipe"
                          - 
                            tier: 3
                            amountRequired: 100
                            unlocks: 
                              - "Enchanted Book (Lure IV) Recipe"
      security: []
  /skyblock/news:
    get:
      tags:
        - skyblock
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/skyblock/news.md
      summary: Returns SkyBlock news, including a title, description and a thread.
      responses:
        '200':
          description: A object describing news items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'
              example:
                success: true
                items:
                  - item:
                      - material: EMERALD
                    link: 'https://hypixel.net/threads/3287083/'
                    text: 8th September 2020
                    title: SkyBlock v0.9
                  - item:
                      - material: WEB
                    link: 'https://hypixel.net/threads/3287083/'
                    text: 7th July 2020
                    title: SkyBlock v0.8
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /watchdogstats:
    get:
      tags:
        - watchdog
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/watchdogstats.md
      summary: Returns some statistics about Watchdog & bans.
      responses:
        '200':
          description: An object describing news items.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      watchdog_lastMinute:
                        type: integer
                        example: 5
                        description: Watchdog's bans in the last minute.
                      staff_rollingDaily:
                        type: integer
                        example: 1356
                        description: Staff bans in the last day.
                      watchdog_total:
                        type: integer
                        example: 4924740
                        description: Total Watchdog bans, ever.
                      watchdog_rollingDaily: 
                        type: integer
                        example: 7679
                        description: Watchdog bans in the last day.
                      staff_total: 
                        type: integer
                        example: 1608360
                        description: Total staff bans, ever.
                    required:
                      - watchdog_lastMinute
                      - staff_rollingDaily
                      - watchdog_total
                      - watchdog_rollingDaily
                      - staff_total
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
components:
  headers:
    ratelimit-limit:
      schema:
        type: integer
      description: Request limit per minute.
    ratelimit-remaining:
      schema:
        type: integer
      description: The number of requests left for the time window.
    ratelimit-reset:
      schema:
        type: integer
      description: The amount of seconds left until the ratelimit resets.
  responses:
    MissingFields:
      description: Missing one or more fields
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            cause: 'Missing one or more fields [key]'
    RateLimitError:
      description: Hit key throttle.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            cause: Hit key throttle
    Unauthorized:
      description: Invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            cause: Invalid API key
  schemas:
    ApiSuccess:
      type: object
      properties:
        success:
          type: boolean
          description: Whether or not the request succeeded.
          default: true
      required:
        - success
    ApiError:
      type: object
      properties:
        success:
          type: boolean
          description: Whether or not the request succeeded.
          default: false
        cause:
          type: string
          description: 'Error message of the failure that resulted in `success: false`'
      required:
        - success
        - cause
    ResourceResponse:
      allOf:
        - $ref: '#/components/schemas/ApiSuccess'
        - type: object
          properties:
            lastUpdated:
              type: integer
              description: Unix timestamp this resource was last updated.
            version:
              type: string
              description: SkyBlock version this resource applies to.
          required:
            - success
            - lastUpdated
            - version
    CollectionsResourceResponse:
      allOf:
        - $ref: '#/components/schemas/ResourceResponse'
        - type: object
          properties:
            collections:
              type: object
              description: Objects for each individual parent collection (currently FARMING, MINING, COMBAT, FORAGING, FISHING).
              additionalProperties:
                $ref: '#/components/schemas/ParentCollection'
          required:
            - success
            - lastUpdated
            - version
            - collections
    ParentCollection:
      type: object
      properties:
        name:
          type: string
          description: Name of the collection group.
        items:
          type: object
          description: Objects for each individual collection within the parent (e.g. WHEAT, SAND).
          additionalProperties:
            $ref: '#/components/schemas/Collection'
      required:
        - name
        - items
    Collection:
      type: object
      properties:
        name:
          type: string
          description: Name of the collection.
        maxTiers:
          type: integer
          description: The maximum tier of this collection.
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/CollectionTier'
      required:
        - name
        - maxTiers
        - tiers
    CollectionTier:
      type: object
      description: Individual tier within the collection.
      properties:
        tier:
          type: integer
          description: The collection tier this applies to.
        amountRequired:
          type: integer
          description: The amount of the collection resource required to unlock this.
        unlocks:
          type: array
          description: An array of strings describing the individual unlocks of this collection.
          items:
            type: string
    NewsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiSuccess'
        - type: object
          properties:
            success:
              type: boolean
            items:
              $ref: '#/components/schemas/NewsEntries'
          required:
            - success
            - items
    NewsEntries:
      type: array
      items:
        $ref: '#/components/schemas/NewsEntry'
    NewsEntry:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/NewsEntryItem'
        link:
          type: string
        text:
          type: string
        title:
          type: string
      required:
        - item
        - link
        - text
        - title
    NewsEntryItem:
      type: object
      properties:
        material:
          type: string
        data:
          type: integer
      required:
        - material
  securitySchemes:
    apiKey:
      type: apiKey
      name: key
      in: query
