openapi: 3.0.1
info:
  title: Hypixel Public API
  description: >
    ## Query Limitations

    The API server has a request limit of 120 queries per minute. Any abuse of
    the API or intentions to bypass this limit (such as with multiple API keys)
    will lead to your API key being reset or banned.


    If you require a higher limit than the above you can open a support ticket
    at [https://support.hypixel.net](https://support.hypixel.net) and provide
    your use case and why you require a higher limit.

    ## Obtaining an API Key

    You can obtain an API key by joining `mc.hypixel.net` with a valid Minecraft
    account and running the /api command. You will then be assigned a unique key
    that is to remain **private**.
  version: unknown
externalDocs:
  description: GitHub Documentation
  url: 'https://github.com/HypixelDev/PublicAPI/tree/master/Documentation'
servers:
  - url: 'https://api.hypixel.net'
security:
  - api_key: []
tags:
  - name: skyblock
    description: Methods related to the SkyBlock game mode.
    externalDocs:
      url: https://github.com/HypixelDev/PublicAPI/tree/master/Documentation/methods/skyblock
paths:
  /skyblock/news:
    get:
      tags:
        - skyblock
      externalDocs:
        url: https://github.com/HypixelDev/PublicAPI/blob/master/Documentation/methods/skyblock/news.md
      summary: 'Returns SkyBlock news, including a title, description and a thread.'
      responses:
        '200':
          description: A object describing news items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'
              example:
                success: true
                items:
                  - item:
                      - material: EMERALD
                    link: 'https://hypixel.net/threads/3287083/'
                    text: 8th September 2020
                    title: SkyBlock v0.9
                  - item:
                      - material: WEB
                    link: 'https://hypixel.net/threads/3287083/'
                    text: 7th July 2020
                    title: SkyBlock v0.8
        '400':
          $ref: '#/components/responses/MissingFields'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitError'
components:
  headers:
    ratelimit-limit:
      schema:
        type: integer
      description: Request limit per minute.
    ratelimit-remaining:
      schema:
        type: integer
      description: The number of requests left for the time window.
    ratelimit-reset:
      schema:
        type: integer
      description: The amount of seconds left until the ratelimit resets.
  responses:
    MissingFields:
      description: Missing one or more fields
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            cause: 'Missing one or more fields [key]'
    RateLimitError:
      description: Hit key throttle.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            cause: Hit key throttle
    Unauthorized:
      description: Invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            cause: Invalid API key
  schemas:
    ApiSuccess:
      type: object
      properties:
        success:
          type: boolean
          default: true
      required:
        - success
    ApiError:
      type: object
      properties:
        success:
          type: boolean
          default: true
        cause:
          type: string
      required:
        - success
        - cause
    NewsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiSuccess'
        - type: object
          properties:
            success:
              type: boolean
            items:
              $ref: '#/components/schemas/NewsEntries'
          required:
            - success
            - items
    NewsEntries:
      type: array
      items:
        $ref: '#/components/schemas/NewsEntry'
    NewsEntry:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/NewsEntryItem'
        link:
          type: string
        text:
          type: string
        title:
          type: string
      required:
        - item
        - link
        - text
        - title
    NewsEntryItem:
      type: object
      properties:
        material:
          type: string
        data:
          type: integer
      required:
        - material
  securitySchemes:
    api_key:
      type: apiKey
      name: key
      in: query
