use('../../../node_modules/stylus-svg/index.js')

icon(path)
  &::before
    content svgImport(path, '
      path
        fill #aaa
      ')
    .active &
    .nav-link:not([href="/"]).router-link-active &
      content svgImport(path, '
        path
          fill #9941d3
        ')
      .theme-green &
        content svgImport(path, '
          path
            fill #3eaf7c
          ')
      .theme-blue &
        content svgImport(path, '
          path
            fill #2196f3
          ')

i.iconfont
  width 1.4em
  height 1.4em
  padding-right 4px
  display inline-block
  transform: translateY(25%);
  &::before
    width 1.4em
    height 1.4em
    margin 0
    position absolute
    left 0
    top 50%
    -ms-transform translateY(-50%)
    transform translateY(-50%)
    .dropdown-item &
      left unset
  &.icon-advanced
    icon('../../../node_modules/@mdi/svg/svg/application-cog.svg')
  &.icon-api
    icon('../../../node_modules/@mdi/svg/svg/iframe-braces.svg')
  &.icon-changelog
    icon('../../../node_modules/@mdi/svg/svg/text-box.svg')
  &.icon-github
    icon('../../../node_modules/@mdi/svg/svg/github.svg')
  &.icon-guide
    icon('../../../node_modules/@mdi/svg/svg/arrow-right-thick.svg')
  &.icon-home
    icon('../../../node_modules/@mdi/svg/svg/home.svg')
  &.icon-info
    icon('../../../node_modules/@mdi/svg/svg/information.svg')
  &.icon-npm
    icon('../../../node_modules/@mdi/svg/svg/npm.svg')
  &.icon-typescript
    icon('../../../node_modules/@mdi/svg/svg/language-typescript.svg')