@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap')
@import "icons"

body
  font-family 'Source Sans Pro', sans-serif

code
  font-family 'Source Code Pro', monospace

.home
  .features
    border-top 0 !important
  .hero
    h1
      font-family 'Comfortaa', cursive
      color var(--black)

.navbar
  .site-name
    font-family 'Comfortaa', cursive
    color var(--black) !important
  .links
    .color-picker
      .color-button
        cursor pointer
    .nav-links
      .nav-item
        .dropdown-wrapper
          button
            outline unset

.darkmode-switch
  .item
    border 1px solid var(--border-color) !important
    &:first-child
      border-left 1px solid var(--border-color) !important
    &.active
      background-color var(--arrow-bg-color) !important
  .icon
    color var(--text-color) !important