@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap')
@import "icons"

body
  font-family 'Source Sans Pro', sans-serif

code
  font-family 'Source Code Pro', monospace

body.theme-dark
body.theme-light
  code[class*='language-']
  pre[class*='language-']
    font-weight lighter
    font-family 'Source Code Pro', monospace

.theme-default-content
  pre
  pre[class*='language-']
    margin 0
    padding 0.5rem 0.5rem
  code
    font-family 'Source Code Pro', monospace

.home
  a img ~ span
    display none
  .features
    border-top 0 !important
  .hero
    h1
      font-family 'Comfortaa', cursive
      color var(--black)

@media (min-width: 719px)
  .nav-item > .nav-link:not([href="/"])
    &.router-link-active
      color var(--accent-color)
    &:hover, &.router-link-active
      margin-bottom -2px
      border-bottom 2px solid var(--accent-color-l10)

.navbar
  .site-name
    font-family 'Comfortaa', cursive
    color var(--black) !important
  .links
    .color-picker
      .color-button
        cursor pointer
    .nav-links
      .nav-item
        .dropdown-wrapper
          button
            outline unset

.darkmode-switch
  .item
    border 1px solid var(--border-color) !important
    &:first-child
      border-left 1px solid var(--border-color) !important
    &.active
      background-color var(--arrow-bg-color) !important
  .icon
    color var(--text-color) !important