text_color()
  +cache('text_color')
    color var(--text-color)
source_sans()
  +cache('source_sans')
    font-family 'Source Sans Pro', sans-serif
source_code()
  +cache('source_code')
    font-family 'Source Code Pro', sans-serif

.swagger-ui
  padding 3.6rem 2rem 0
  text_color()
  source_sans()
  select
    text_color()
    source_sans()
    outline: unset
    border var(--border-color)
    background var(--background-color) url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.418 7.859a.695.695 0 01.978 0 .68.68 0 010 .969l-3.908 3.83a.697.697 0 01-.979 0l-3.908-3.83a.68.68 0 010-.969.695.695 0 01.978 0L10 11l3.418-3.141z"/></svg>') right 10px center no-repeat
    box-shadow 0 1px 2px 0 var(--box-shadow-color)
    &:focus
      border var(--border-color)
    option
      color var(--text-color)
      background-color:  var(--background-color)
  svg use
    fill var(--text-color)
  .btn
    border: 2px solid var(--dark-grey)
    background: rgba(0,0,0,0)
    box-shadow: 0 1px 2px var(--box-shadow-color)
    text_color()
    source_sans()
    &:hover
      background: rgba(100,100,100,0.1)
  .info
    a
      source_sans()
      color var(--accent-color)
      &:hover
        color var(--accent-color-d10)
    for i in '.title' h1 h2 h3 h4 h5 li p table
      {i}
        text_color()
        source_sans()
  code
  .code
    source_code()
  .renderedMarkdown
  .markdown
  .renderedMarkdown
    code
      color var(--accent-color)
    pre
      padding 0.5rem 0.5rem
      background-color var(--code-bg-color)
  .markdown p
  .markdown pre
  .renderedMarkdown p
  .renderedMarkdown pre
    margin 0
  table
    thead tr
      td
      th
      .response-col_status
      .response-col_links
        padding 0.6em 1em
        font-size 14px
        text_color()
        source_sans()
    .theme-dark &
      tr:nth-child(2n)
        background var(--background-color)
    tbody tr
      td
      td:first-of-type
      .response-col_status
      .response-col_links
        padding 0.6em 1em
        text_color()
        source_sans()
  .title
    pre
      line-height unset
      background-color unset
      border-radius unset
      overflow unset
    small:not(.version-stamp)
      display none !important
  h4.opblock-tag
    text_color()
    source_sans()
    margin-top unset !important
    padding-top unset !important
    small
      text_color()
      source_sans()
  .opblock
    .theme-dark &
      background rgba(0,0,0,0.2) !important
    border 1px solid var(--border-color)
    box-shadow 0 0 3px var(--box-shadow-color)
    .opblock-section-header
      .theme-dark &
        background var(--background-color)
      border 1px solid var(--border-color)
      box-shadow 0 0 3px var(--box-shadow-color)
    .opblock-description-wrapper
      margin-bottom 0
      padding-bottom 0
    .opblock-external-docs-wrapper
      margin-top 0
      padding-top 0
    .opblock-description-wrapper h4
    .opblock-external-docs-wrapper h4
      margin 5px 0
      font-weight bold
      font-size 16px
    .opblock-summary-operation-id
    .opblock-summary-path
    .opblock-summary-path__deprecated
    .opblock-summary-description
    .opblock-description-wrapper
    .opblock-description-wrapper p
    .opblock-external-docs-wrapper
    .opblock-external-docs-wrapper p
    .opblock-title_normal
    .opblock-section-header
      text_color()
      source_sans()
      for i in h1 h2 h3 h4 h5
        {i}
          text_color()
          source_sans()
  pre.example
    font-size 12px
    overflow-y auto
    max-height 400px
    min-height 6em
  .scheme-container
    margin 0 0 20px
    padding 30px 0
    background var(--background-color)
    border 1px solid var(--border-color)
    box-shadow 0 1px 2px 0 var(--box-shadow-color)