text_color()
  +cache('text_color')
    color var(--text-color)
source_sans()
  +cache('source_sans')
    font-family 'Source Sans Pro', sans-serif
source_code()
  +cache('source_code')
    font-family 'Source Code Pro', sans-serif

.theme-default-content.custom
  transform unset !important

.swagger-ui
  padding 3.6rem 2rem 0
  text_color()
  source_sans()
  input[type="text"]
    text_color()
    source_sans()
    outline: unset
    border var(--border-color)
    background-color var(--code-bg-color)
    box-shadow 0 1px 2px 0 var(--box-shadow-color)
    transition background 0.2s ease-in-out
    &[disabled]
      background-color var(--grey12)
  select
    text_color()
    source_sans()
    outline: unset
    border var(--border-color)
    background-color var(--code-bg-color)
    background-image url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22black%22%20d%3D%22M13.418%207.859a.695.695%200%2001.978%200%20.68.68%200%20010%20.969l-3.908%203.83a.697.697%200%2001-.979%200l-3.908-3.83a.68.68%200%20010-.969.695.695%200%2001.978%200L10%2011l3.418-3.141z%22%2F%3E%3C%2Fsvg%3E")
    .theme-dark &
      background-image url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22rgba%28158,158,158,1%29%22%20d%3D%22M13.418%207.859a.695.695%200%2001.978%200%20.68.68%200%20010%20.969l-3.908%203.83a.697.697%200%2001-.979%200l-3.908-3.83a.68.68%200%20010-.969.695.695%200%2001.978%200L10%2011l3.418-3.141z%22%2F%3E%3C%2Fsvg%3E")
    box-shadow 0 1px 2px 0 var(--box-shadow-color)
    &:focus
      border var(--border-color)
    option
      color var(--text-color)
      background-color:  var(--background-color)
  .model
    text_color()
    source_sans()
  .model-toggle
    &::after
      background-image url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20fill%3D%22black%22%20d%3D%22M10%206L8.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z%22%2F%3E%3C%2Fsvg%3E")
      .theme-dark &
        background-image url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20fill%3D%22rgba%28158,158,158,1%29%22%20d%3D%22M10%206L8.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z%22%2F%3E%3C%2Fsvg%3E")
  .model-title
    text_color()
    source_sans()
  .prop-type
    color var(--accent-color)
  section.models
    for i in h1 h2 h3 h4 h5
      {i}
        text_color()
        source_sans()
  svg use
    fill var(--text-color)
  .btn
    border: 2px solid var(--dark-grey)
    background: rgba(0,0,0,0)
    box-shadow: 0 1px 2px var(--box-shadow-color)
    text_color()
    source_sans()
    &:hover
      background: rgba(100,100,100,0.1)
  .info
    a
      source_sans()
      color var(--accent-color)
      &:hover
        color var(--accent-color-d10)
    for i in '.title' h1 h2 h3 h4 h5 li p table
      {i}
        text_color()
        source_sans()
  code
  .code
    source_code()
  .renderedMarkdown
  .markdown
  .renderedMarkdown
    code
      color var(--accent-color)
      padding 0.2em
    pre
      padding 0.5rem 0.5rem
      background-color var(--code-bg-color)
  .markdown p
  .markdown pre
  .renderedMarkdown p
  .renderedMarkdown pre
    margin 0
  table
    thead tr
      td
      th
      .response-col_status
      .response-col_links
        padding 0.6em 1em
        font-size 14px
        text_color()
        source_sans()
    .theme-dark &
      tr:nth-child(2n)
        background var(--background-color)
    tbody tr
      td
      td:first-of-type
      .response-col_status
      .response-col_links
        padding 0.6em 1em
        text_color()
        source_sans()
  .title
    pre
      line-height unset
      background-color unset
      border-radius unset
      overflow unset
    small:not(.version-stamp)
      display none !important
  h4.opblock-tag
    text_color()
    source_sans()
    margin-top unset !important
    padding-top unset !important
    small
      text_color()
      source_sans()
  .parameter__name
  .parameter__type
    text_color()
  .responses-inner
    for i in h1 h2 h3 h4 h5
      {i}
        text_color()
        source_sans()
  .opblock
    .theme-dark &
      background rgba(0,0,0,0.2) !important
    border 1px solid var(--border-color)
    box-shadow 0 0 3px var(--box-shadow-color)
    .opblock-section-header
      .theme-dark &
        background var(--background-color)
      border 1px solid var(--border-color)
      box-shadow 0 0 3px var(--box-shadow-color)
    .opblock-description-wrapper
      margin-bottom 0
      padding-bottom 0
    .opblock-external-docs-wrapper
      margin-top 0
      padding-top 0
    .opblock-description-wrapper h4
    .opblock-external-docs-wrapper h4
      margin 5px 0
      font-weight bold
      font-size 16px
    .opblock-summary-operation-id
    .opblock-summary-path
    .opblock-summary-path__deprecated
    .opblock-summary-description
    .opblock-description-wrapper
    .opblock-description-wrapper p
    .opblock-external-docs-wrapper
    .opblock-external-docs-wrapper p
    .opblock-title_normal
    .opblock-section-header
      text_color()
      source_sans()
      for i in h1 h2 h3 h4 h5
        {i}
          text_color()
          source_sans()
  pre.example
    font-size 12px
    overflow-y auto
    max-height 400px
    min-height 6em
  .scheme-container
    margin 0 0 20px
    padding 30px 0
    background var(--background-color)
    border 1px solid var(--border-color)
    box-shadow 0 1px 2px 0 var(--box-shadow-color)
  section.response-controls
    display none
  .dialog-ux
    .backdrop-ux
      bottom -30px
    .modal-ux
      background-color var(--background-color)
      border 1px solid var(--border-color)
      .modal-ux-header
        border-bottom 1px solid var(--border-color)
        h3
          text_color()
          source_sans()
      .modal-ux-content
        p
        h4
        label
          text_color()
          source_sans()