$colorPicker = {
  green: #3eaf7c,
  blue: #2196f3
}

/* basic color */
$accentColor = #9941d3
$textColor = #2c3e50
$nightTextColor = #9e9e9e
$bgColor = #fff
$nightBgColor = #1e1e1e
$borderColor = #eaecef
$nightBorderColor = #302d28
$codeBgColor = #ecf4fa
$nightCodeBgColor = #282c34
$arrowBgColor = #ccc
$nightArrowBgColor = #333